.card {
    background-color: #F5F5F5;
    border: 1px solid #656565;
    margin: 5px;
}

    .card.welcome {
        width: 300px;
        margin: 150px auto 0 auto;
        background-color: rgba(100, 150, 240, 0.1);
    }

    .card.pc,
    .card.monster {
        background-color: beige;
    }

    .card.pc {
        border: 1px solid #006500;
    }

    .card.monster {
        border: 1px solid #650000;
    }

    .card.error {
        background-color: red;
        color: white;
        font-weight: 600;
    }

    .card .heading {
        height: 35px;
        font-size: 15px;
        margin: 0;
        padding-left: 8px;
        border-bottom: none;
        background-color: #656565;
        color: white;
    }

        .card .heading .title {
            width: calc(100% - 25px);
            display: inline-block;
            vertical-align: middle;
        }

    .card.pc .heading {
        background-color: #006500;
    }

    .card.monster .heading {
        background-color: #650000;
    }

    .card .card-content {
        padding: 5px 10px;
    }

    .card .divider {
        border-top: 1px solid #656565;
    }

    .card.pc .divider {
        border-top: 1px solid #006500;
    }

    .card.monster .divider {
        border-top: 1px solid #650000;
    }

    .card .table {
        background-color: white;
        border: 1px solid #C3C3C3;
        margin: 8px 0;
        padding: 3px 0;
    }

        .card .table .cell {
            display: inline-block;
            padding: 2px 0;
            text-align: center;
        }

            .card .table .cell.three {
                width: calc((100% - 1px) / 3);
            }

            .card .table .cell.four {
                width: calc((100% - 1px) / 4);
            }

    .card .heading .image {
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }