.card {
    background-color: #F5F5F5;
    border: 1px solid #656565;
    margin: 5px;
}

    .card.pc,
    .card.monster {
        background-color: beige;
    }

    .card.pc {
        border: 1px solid #006500;
    }

    .card.monster {
        border: 1px solid #650000;
    }

    .card.error {
        background-color: red;
        color: white;
        font-weight: 600;
    }

    .card .heading {
        height: 35px;
        font-size: 15px;
        margin: 0;
        padding-left: 8px;
        border-bottom: none;
        background-color: #656565;
        color: white;
    }

        .card .heading .title {
            width: calc(100% - 25px);
            display: inline-block;
            vertical-align: middle;
        }

    .card.pc .heading {
        background-color: #006500;
    }

    .card.monster .heading {
        background-color: #650000;
    }

    .card .card-content {
        padding: 5px 10px;
    }

    .card .divider {
        border-top: 1px solid #656565;
    }

    .card.pc .divider {
        border-top: 1px solid #006500;
    }

    .card.monster .divider {
        border-top: 1px solid #650000;
    }

    .card .heading .image {
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }