.chart {
    height: 300px;
    border: 1px solid #C3C3C3;
    background-color: white;
}

    .chart .plot {
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        margin: 10px;
        border-bottom: 1px solid #C3C3C3;
    }

        .chart .plot .bar-container {
            display: inline-block;
            height: 100%;
        }

            .chart .plot .bar-container .bar {
                background-color: lightsteelblue;
                border-top: 1px solid steelblue;
                vertical-align: bottom;
            }

            .chart .plot .bar-container:hover .bar {
                background-color: steelblue;
            }

            .chart .plot .bar-container:hover .bar-space {
                background-color: #EEEEEE;
            }