.hp-gauge {
    margin: 5px 5px 10px 5px;
    height: 5px;
    background-color: lightgrey;
}

    .hp-gauge .bar {
        float: left;
        height: 100%;
    }

        .hp-gauge .bar.unhurt {
            background-color: green;
        }

        .hp-gauge .bar.injured {
            background-color: orange;
        }

        .hp-gauge .bar.bloodied {
            background-color: crimson;
        }

        .hp-gauge .bar.temp {
            background-color: cornflowerblue;
        }