* {
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
}

html,
body,
#root,
.dojo {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.page-content {
    height: calc(100% - 112px);
    margin: 5px 0;
}

.home,
.parties,
.monster-library,
.encounter-builder,
.combat-manager {
    height: 100%;
}

.left-pane {
    display: inline-block;
    width: 330px;
    vertical-align: top;
}

    .left-pane .card {
        width: 100%;
        margin: 10px 0;
    }

.right-pane {
    display: inline-block;
    width: calc(100% - 390px);
    vertical-align: top;
}

    .right-pane .card {
        width: calc(((100% - 1px) / 4) - 12px);
        min-width: 280px;
        margin: 10px 5px;
    }

.scrollable {
    height: 100%;
    padding: 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.column {
    display: inline-block;
    width: calc((100% - 21px) / 3);
    vertical-align: top;
}

.column-divider {
    display: inline-block;
    width: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.heading {
    border-bottom: 1px solid #C3C3C3;
    padding: 5px 0;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 600;
}

.divider {
    margin: 10px 20px;
    height: 0;
    border-top: 1px solid #404040;
}

.group {
    padding: 5px 0;
    margin: 5px;
}

    .group .heading {
        margin: 2px 0;
    }

    .group .text {
        margin: 7px;
    }

        .group .text.warning {
            color: #B00000;
            font-weight: 600;
            border: 1px solid #500000;
            padding: 5px;
        }

.list-item {
    margin: 3px 0;
    padding: 3px;
    cursor: pointer;
    user-select: none;
    border-left: 3px solid #404040;
}

    .list-item.selected {
        cursor: default;
    }

    .list-item.selected,
    .list-item:hover {
        background-color: #EEEEEE;
    }

    .list-item .heading {
        margin-left: -3px;
        margin-right: -3px;
        margin-top: -3px;
        padding-left: 8px;
    }

.card-group {
    margin-bottom: 20px;
    padding-left: 5px;
}

    .card-group .heading .title {
        width: calc(100% - 20px);
        display: inline-block;
        vertical-align: middle;
    }

    .card-group .heading .image {
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }

.section {
    margin: 5px 0;
}

    .section.centered {
        text-align: center;
    }

    .section .ability-score {
        display: inline-block;
        width: calc(((100% - 1px) / 6) - 10px);
        padding: 0 5px;
    }

    .section .key-stat {
        display: inline-block;
        width: calc((100% - 1px) / 3);
        vertical-align: top;
    }

        .section .key-stat.wide {
            width: calc(2 * (100% - 1px) / 3);
        }

        .section .ability-score .ability-heading,
        .section .key-stat .stat-heading {
            text-align: center;
            font-weight: 600;
        }

        .section .ability-score .ability-value,
        .section .key-stat .stat-value {
            text-align: center;
        }

    .section .ability-score .ability-value {
        padding-top: 5px;
    }

    .section .key-stat .stat-value {
        font-size: 20px;
        font-weight: 600;
        padding-top: 5px;
    }

    .section .input-label {
        padding-top: 5px;
        font-weight: 600;
    }

.image.rotate {
    transform: rotate(-180deg);
}