.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.modal {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    margin: 100px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
}

    .modal .modal-heading {
        height: 50px;
        margin: 0;
        border-bottom: none;
        background-color: rgb(100, 150, 240);
        color: white;
    }

        .modal .modal-heading .title {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 52px);
            padding: 0 15px;
            line-height: 40px;
            font-size: 20px;
            font-weight: 600;
        }

        .modal .modal-heading .image {
            display: inline-block;
            vertical-align: middle;
            width: 36px;
            height: 36px;
            padding: 2px;
            margin: 8px;
            border-radius: 50%;
            cursor: pointer;
        }

            .modal .modal-heading .image:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }

    .modal .modal-content {
        height: calc(100% - 50px);
        padding: 15px;
        background-color: white;
    }

        .modal .modal-content .hp-value {
            height: 32px;
            margin: 5px 0;
            padding: 5px 8px;
            border: 1px solid #C3C3C3;
            font-size: 15px;
            text-align: center;
            font-weight: 600;
        }

        .modal .modal-content .value-list {
            line-height: 38px;
        }

            .modal .modal-content .value-list:nth-child(odd) {
                background-color: rgba(100, 150, 240, 0.1);
            }

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}