.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.modal {
    height: calc(100% - 160px);
    width: calc(100% - 100px);
    margin: 80px 50px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
}

    .modal .modal-header {
        height: 40px;
        background-color: #404040;
    }

        .modal .modal-header .title {
            height: 40px;
            line-height: 40px;
            padding-left: 15px;
            font-size: 20px;
            font-weight: 600;
            color: white;
        }

    .modal .modal-content {
        height: calc(100% - 80px);
        padding: 0 15px;
        background-color: white;
    }

        .modal .modal-content .hp-value {
            height: 32px;
            margin: 5px 0;
            padding: 5px 8px;
            border: 1px solid #C3C3C3;
            font-size: 15px;
            text-align: center;
            font-weight: 600;
        }

        .modal .modal-content .monster-help {
            margin-top: 20px;
        }

            .modal .modal-content .monster-help .value-list {
                margin: 0;
            }

                .modal .modal-content .monster-help .value-list:nth-child(odd) {
                    background-color: rgba(100, 150, 240, 0.1);
                }

                .modal .modal-content .monster-help .value-list .column {
                    min-height: 38px;
                }

                    .modal .modal-content .monster-help .value-list .column .text-container {
                        margin: 10px 0;
                    }

                    .modal .modal-content .monster-help .value-list .column .bar-container {
                        height: 18px;
                        margin: 10px 0;
                        border-bottom: 1px solid rgba(100, 150, 240, 0.2);
                    }

                        .modal .modal-content .monster-help .value-list .column .bar-container .bar {
                            height: 100%;
                            background-color: rgb(100, 150, 240);
                        }

            .modal .modal-content .monster-help .action-count,
            .modal .modal-content .monster-help .no-values {
                text-align: center;
                margin-top: 20px;
                font-size: 15px;
            }
    
    .modal .modal-footer {
        height: 40px;
        background-color: #404040;
    }

        .modal .modal-footer button,
        .modal .modal-footer .checkbox {
            display: inline-block;
            width: 180px;
            margin: 4px 5px;
        }

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}