.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.modal {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    margin: 100px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
}

    .modal .modal-heading {
        height: 50px;
        margin: 0;
        padding-left: 15px;
        border-bottom: none;
        background-color: rgb(100, 150, 240);
        color: white;
    }

        .modal .modal-heading .title {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 50px);
            line-height: 40px;
            font-size: 20px;
            font-weight: 600;
        }

        .modal .modal-heading .image {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            padding: 5px;
            margin: 5px;
            border-radius: 50%;
            cursor: pointer;
        }

            .modal .modal-heading .image:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }

    .modal .modal-content {
        height: calc(100% - 80px);
        padding: 15px;
        background-color: white;
    }

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}