.navbar {
    height: 50px;
    padding: 10px 5px;
    text-align: center;
    background-color: #404040;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

    .navbar .navigator-item {
        display: inline-block;
        padding: 5px;
        margin: 0 5px;
        cursor: pointer;
        height: 30px;
        width: calc(((100% - 1px) / 4) - 20px);
        font-size: 14px;
        color: white;
    }

        .navbar .navigator-item.selected,
        .navbar .navigator-item:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }