b {
    font-weight: 600;
    color: #000000;
}

input[type=text],
textarea {
    -webkit-appearance: none;
    margin: 5px 0;
    padding: 5px 8px;
    border: 1px solid #C3C3C3;
    width: calc(100% - 2px);
    border-radius: 0;
    font-size: 12px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -webkit-user-select: text;
}

    input[type=text]:hover,
    textarea:hover {
        border-color: rgb(100, 150, 240);
    }

input[type=text] {
    height: 32px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

a {
    color: royalblue;
    text-decoration: none;
}

    a:visited {
        color: royalblue;
    }

:focus {
    outline: none;
    border-color: cornflowerblue !important;
}

button {
    display: block;
    min-height: 32px;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #404040;
    background-color: white;
    border: 1px solid #C3C3C3;
    border-left-width: 5px;
    margin: 3px 0;
    padding: 5px 9px 5px 10px;
    cursor: pointer;
}

    button:hover {
        border-color: rgb(100, 150, 240);
    }

    button.disabled {
        background-color: white;
        border-color: #C3C3C3;
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }

    button .details {
        margin: 3px 0;
        padding: 5px 0;
    }

    button .destructive, button .non-destructive {
        background-color: white;
        border: 1px solid #C3C3C3;
        border-left-width: 5px;
        margin: 3px 0;
        padding: 5px 8px;
        height: 32px;
        line-height: 18px;
        cursor: pointer;
    }

    button .destructive {
        border-color: rgb(170, 0, 0);
    }

    button .destructive:hover {
        background-color: rgba(255, 0, 0, 0.3);
    }

    button .non-destructive:hover {
        border-color: rgb(100, 150, 240);
    }

    button .title {
        width: calc(100% - 21px);
        display: inline-block;
        vertical-align: middle;
        min-height: 16px;
        line-height: 15px;
    }

    button .image {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    button .confirmation {
        padding-top: 10px;
    }
