$background: rgb(255, 255, 255);
$foreground: rgb(64, 64, 64);

$header-background: rgb(64, 64, 64);
$header-background-05: rgba(64, 64, 64, 0.5);

$header-foreground: rgb(255, 255, 255);
$header-foreground-03: rgba(255, 255, 255, 0.2);

$highlight: rgb(100, 150, 240);
$highlight01: rgba(100, 150, 240, 0.1);
$highlight02: rgba(100, 150, 240, 0.2);

$control-border: rgb(195, 195, 195);
