$background: rgb(255, 255, 255);
$header-background: rgb(64, 64, 64);
$header-background-05: rgba(64, 64, 64, 0.5);

$foreground: rgb(64, 64, 64);
$header-foreground: rgb(255, 255, 255);
$header-foreground-03: rgba(255, 255, 255, 0.2);

$highlight: rgb(60, 120, 220);
$highlight01: rgba(60, 120, 220, 0.1);
$highlight02: rgba(60, 120, 220, 0.2);

$control-border: rgb(195, 195, 195);
