.ability-scores {
	margin: 10px 0;
	background-color: $background;
	border: 1px solid $control-border;
	border-left-width: 5px;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		border-color: $highlight;
	}

	.ability-score {
		flex: 1 1 auto;
		padding: 5px 0;
		text-align: center;

		.ability-heading {
			font-weight: 600;
		}

		.ability-value {
			padding-top: 5px;
		}

		&.link {
			cursor: pointer;

			&:hover {
				background-color: $highlight01;
			}
		}
	}
}
