.breadcrumb-bar {
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid $control-border;

	.group-panel {
		display: inline-block;
		margin: 5px 10px;

		&:nth-last-child(1) {
			font-weight: 600;
			pointer-events: none;
		}
	}
}

.plot-panel {
	width: 100%;
	margin: 10px 0;

	&.thumbnail {
		pointer-events: none;

		.scene-panel-container {
			padding: 10px 0;

			.scene-panel {
				height: 10px;
				border: 1px solid $control-border;
			}
		}

		.empty {
			padding: 10px 0;
		}
	}

	.scene-panel-container {
		padding: 80px 0;

		.scene-panel {
			height: 80px;
			background-color: $background;

			.text-container {
				height: 100%;
				display: flex;
				align-items: center;
				overflow: hidden;
				border: 1px solid $control-border;
				border-left-width: 5px;
				padding: 5px;
				cursor: pointer;

				.content-then-icons {
					height: 100%;
				}

				.scene-name {
					font-weight: 600;
					word-break: break-all;
				}
			}

			&:hover {
				.text-container {
					border-color: $highlight;
				}
			}

			&.selected {
				.text-container {
					border-color: $highlight;
					background-color: $highlight02;
				}
			}
		}
	}

	.empty {
		padding: 80px 0;
		opacity: 0.5;
	}

	.scene-link {
		stroke: $control-border;
		stroke-width: 1px;

		&.selected {
			stroke: $highlight;
		}
	}

	.link-label-container {
		.link-label {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
		}
	}
}
