@import '~antd/dist/antd.css';
@import 'theme.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Overrides

b,
strong {
    font-weight: 600;
    color: black;
}

h1 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}

p {
    margin: 5px 0;
}

input[type=text],
input[type=color] {
    user-select: text;
    margin: 5px 0;
    padding: 5px 8px;
    border: 1px solid $control-border;
    width: 100%;
    border-radius: 0;
    font-size: 12px;

    &:hover,
    &:focus {
        border-color: $highlight;
    }
}

input[type=text],
input[type=color] {
    height: 32px;
    border-left-width: 5px;
}

input[type=color] {
    padding: 0 2px;
    background-color: $background;
}

ul, ol {
    padding-left: 20px;
    margin: 5px 0;
}

li {
    margin: 5px 0;
    list-style-type: square;
}

a {
    color: $highlight;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        background-color: $highlight01;
    }

    &:visited {
        color: $highlight;
    }
}

table {
    border-spacing: 0;
    width: 100%;

    th, td {
        padding: 5px;
    }

    tbody tr:nth-child(odd) {
        background-color: #E0E5C1;
    }

    tbody tr:nth-child(even) {
        background-color: #FFFFFF;
    }
}

:focus {
    outline: none;
}

button {
    display: block;
    min-height: 32px;
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: $foreground;
    background-color: $background;
    border: 1px solid $control-border;
    border-left-width: 5px;
    margin: 5px 0;
    padding: 5px 9px 5px 10px;
    cursor: pointer;

    &.link {
        display: unset;
        width: unset;
        background-color: unset;
        border: unset;
        padding: unset;
        margin: unset;
        min-height: unset;
        color: $highlight;

        &:hover {
            background-color: $highlight01;
        }
    }

    &.image-button {
        height: 50px;
    }

    &:hover {
        border-color: $highlight;

        .image {
            opacity: 1;
        }
    }

    &.disabled {
        background-color: $background;
        border-color: $control-border;
        cursor: default;
    }

    .details {
        margin: 3px 0;
        padding: 5px 0;
    }

    .destructive,
    .non-destructive {
        background-color: $background;
        border: 1px solid $control-border;
        border-left-width: 5px;
        margin: 3px 0;
        padding: 5px 8px;
        height: 32px;
        line-height: 18px;
        cursor: pointer;
    }

    .destructive {
        border-color: rgb(170, 0, 0);

        &:hover {
            background-color: rgba(255, 0, 0, 0.3);
        }
    }

    .non-destructive:hover {
        border-color: $highlight;
    }

    .title {
        width: calc(100% - 22px);
        display: inline-block;
        vertical-align: middle;
        min-height: 16px;
        line-height: 15px;
    }

    .image {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
    }

    .confirmation {
        padding-top: 10px;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Ant overrides

.ant-drawer-wrapper-body {
    height: 100%;
}

.ant-drawer-body {
    padding: 0;
    font-size: 12px;
    height: 100%;
    color: $foreground;
    user-select: none;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

.ant-input {
    font-size: 12px;
    border-radius: 0;
    border-color: $control-border;
    border-left-width: 5px;
    color: $foreground;
    margin: 5px 0;

    &:hover {
        border-color: $highlight;
    }

    &:focus {
        border-color: $highlight;
        box-shadow: none;
    }
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $highlight;
}

.ant-collapse {
    font-size: 12px;
}

.ant-collapse-borderless > .ant-collapse-item {
    margin: 5px 0;
    background-color: $background;
    border: 1px solid $control-border;
    border-radius: 0;
    border-left-width: 5px;

    &:hover {
        border-color: $highlight;
    }
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 5px 10px;
    font-weight: 600;

    .collapse-header-text {
        width: calc(100% - 22px);
    }
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
    color: $foreground;

    & > .ant-collapse-content-box {
        padding: 0 10px 5px 10px;
        overflow-y: auto;
    }
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    font-size: 16px;
    right: 13px;
}

.ant-collapse-item-active:hover .ant-collapse-header {
    background-color: $highlight01;
}

.ant-slider {
    margin: 10px 5px;
}

.ant-tooltip {
    font-size: 12px;
    line-height: 12px;
    user-select: none;

    .ant-tooltip-inner {
        border-radius: 0;
        opacity: 0.95;

        b, strong {
            color: $background;
        }
    }
}

.ant-slider, .ant-slider:hover {
    .ant-slider-track {
        background-color: $highlight !important;
    }

    .ant-slider-handle {
        border-color: $highlight !important;

        &:focus {
            box-shadow: 0 0 0 5px $highlight02;
        }
    }
}

.ant-input-number {
    width: 100%;
    border-radius: 0;
    border-left-width: 5px;
    border-color: $control-border;
    color: $foreground;

    &:hover {
        border-color: $highlight;
    }

    .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
    .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
        color: $highlight;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Helper classes

.full-height {
    height: 100%;
}

.scrollable {
    height: 100%;
    padding: 0 10px;
    overflow-x: hidden;
    overflow-y: auto;

    &.both-ways {
        overflow: auto;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.fixed-top {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: $background;

    &::after {
        position: absolute;
        top: 40px;
        left: 1px;
        right: 1px;
        height: 5px;
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        content: "";
        z-index: 10;
    }
}

.app-title {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $header-foreground;
    border-left: 3px solid $header-foreground;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    letter-spacing: 2px;
}

.app-name {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
}

.heading {
    border-bottom: 1px solid $control-border;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
}

.subheading {
    font-weight: 600;
    font-size: 15px;
    padding-top: 3px;
    color: #656565;
}

.divider {
    margin: 10px 20px;
    height: 0;
    border-top: 1px solid $control-border;
}

.sidebar {
    background-color: $control;

    &.sidebar-left {
        border-right: 1px solid $control-border;
    }

    &.sidebar-right {
        border-left: 1px solid $control-border;
    }
}

.lowercase {
    text-transform: lowercase;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.strikethrough {
    text-decoration: line-through;
    opacity: 0.8;
    pointer-events: none;
}

.image.rotate {
    transform: rotate(-180deg);
}

.table {
    background-color: $background;
    border: 1px solid $control-border;
    margin: 8px 0;
    padding: 3px 0;

    .cell {
        display: inline-block;
        padding: 2px 0;
        text-align: center;

        &.three {
            width: calc((100% - 1px) / 3);
        }

        &.four {
            width: calc((100% - 1px) / 4);
        }

        &.easy {
            padding-bottom: 4px;
            border-bottom: 3px solid green;
        }
    
        &.medium {
            padding-bottom: 4px;
            border-bottom: 3px solid orange;
        }
    
        &.hard {
            padding-bottom: 4px;
            border-bottom: 3px solid red;
        }
    
        &.deadly {
            padding-bottom: 4px;
            border-bottom: 3px solid black;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Core app classes

* {
    transition: all 0.2s ease-in-out;
}

html,
body,
#root,
.dojo {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.dojo {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 12px;
    background-color: $background;
    color: $foreground;
    box-sizing: border-box;
    user-select: none;

    &.popout {
        
        .map-panel {
            overflow: visible;
        }
    }
}

.page-content {
    height: calc(100% - 100px);

    &.maximized {
        height: 100%;
    }
}

.dragged {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 12px;
    background-color: $background;
    color: $foreground;
    box-sizing: border-box;
    user-select: none;
    transition-duration: 0s;
    z-index: 2000;

    * {
        transition-duration: 0s;
    }
}

.render-error {
    background-color: orange;
    color: white;
    font-weight: 600;
    text-align: center;
    content: 'error';
}

.grid-panel {
    > .heading {
        font-size: 20px;

        > .title {
            width: calc(100% - 20px);
            display: inline-block;
        }
    
        .image {
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 3px;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Page Header / Page Footer

.page-header {
    height: 50px;
    padding: 10px 5px;
    background-color: $header-background;
    border-bottom: 1px solid $control-border;

    .menu-icon {
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        margin: 0 5px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background-color: $highlight02;
        }
    }

    .app-title {
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        height: 30px;
        line-height: 20px;
        font-size: 20px;
        font-weight: 600;
        color: $header-foreground;
        border-left: 3px solid $header-foreground;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    }

    .drawer-icons {
        position: absolute;
        right: 5px;
        top: 0;
        height: 50px;
    }

    .title-bar-icon {
        padding: 10px;
        margin: 5px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background-color: $highlight02;
        }
    }
}

.page-footer {
    height: 50px;
    text-align: center;
    background-color: $header-background;
    border-top: 1px solid $control-border;

    .navigator-item {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        border: 1px solid transparent;
        cursor: pointer;
        height: 39px;
        line-height: 38px;
        width: calc(((100% - 1px) / 5) - 10px);
        font-size: 14px;
        color: $header-foreground;

        &.selected {
            background-color: $control-border;
            pointer-events: none;
        }

        &.selected,
        &:hover {
            border-color: $control-border;
            font-weight: 600;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Card

.card {
    background-color: #F5F5F5;
    border: 1px solid #656565;
    margin: 5px;

    .heading {
        height: 35px;
        font-size: 15px;
        margin: 0;
        padding: 5px 0 5px 8px;
        border-bottom: none;
        background-color: #656565;
        color: $background;

        .title {
            width: calc(100% - 25px);
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .image {
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
        }

        .anticon {
            font-size: 20px;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .hp-gauge {
        margin: 5px 0 10px 0;
    }

    .divider {
        border-color: #656565;
    }

    &.pc {
        border: 1px solid #006500;
        background-color: beige;

        .heading {
            background-color: #006500;
        }

        .subheading {
            color: #006500;
        }

        .divider {
            border-color: #006500;
        }
    }

    &.monster {
        border: 1px solid #650000;
        background-color: beige;

        .heading {
            background-color: #650000;
        }

        .subheading {
            color: #650000;
        }

        .divider {
            border-color: #650000;
        }
    }

    &.encounter {
        border: 1px solid #006565;
        background-color: beige;

        .heading {
            background-color: #006565;
        }

        .subheading {
            color: #006565;
        }

        .divider {
            border-color: #006565;
        }
    }

    &.map {
        border: 1px solid #000065;
        background-color: beige;

        .heading {
            background-color: #000065;
        }

        .subheading {
            color: #000065;
        }

        .divider {
            border-color: #000065;
        }
    }

    &.combat {
        border: 1px solid #650065;
        background-color: beige;

        .heading {
            background-color: #650065;
        }

        .subheading {
            color: #650065;
        }

        .divider {
            border-color: #650065;
        }
    }

    &.error {
        background-color: red;
        color: $background;

        .subheading, b, strong {
            color: $background;
        }

        .divider {
            border-color: $background;
        }
    }

    .card-content {
        padding: 5px 10px;

        .stats {
            column-width: 220px;
            column-count: 2;
        }

        .fixed-height {
            height: 200px;
            overflow-y: auto;

            .combatant-row {
                color: white;
                background-color: #656565;
                border-radius: 5px;
                margin: 3px 0;
                padding: 3px 5px;
                position: relative;
                cursor: default;

                .name {
                    display: inline-block;
                    vertical-align: top;
                    padding: 1px 0;
                    min-height: 20px;
                }

                .info-icon {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                    font-size: 16px;

                    &:hover {
                        background-color: $highlight02;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Combatant row

.combatant-row {
    margin: 5px 0 5px 10px;
    background-color: beige;
    border: 1px solid #656565;
    cursor: pointer;

    &.highlight, &.current {
        .header {
            background-color: black;
        }
    }

    &.current {
        margin: 5px 10px 5px 0;
        pointer-events: none;
    }

    &.defeated {
        opacity: 0.5;
    }

    .header {
        color: $background;
        background-color: #656565;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        height: 30px;
        padding: 5px;

        .name {
            display: inline-block;
            vertical-align: top;
            height: 20px;
            line-height: 20px;
        }

        .info {
            float: right;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
        }
    }

    .content {
        padding: 0 5px;

        .hp-gauge {
            margin-bottom: 5px;
        }

        .condition {
            .condition-name {
                font-weight: 600;
            }

            .condition-text {
                font-size: 11px;
                margin: 2px 0;
            }
        }

        .icon-button {
            float: right;
            font-size: 14px;
            border-radius: 50%;
            padding: 2px;

            &:hover {
                background-color: $highlight01;
            }
        }
    }

    .companion {
        border: 1px solid #2E86C1;
        border-left-width: 5px;
        font-weight: 600;
        padding: 5px;
        margin: 5px 3px;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Chart

.plot {
    margin: 5px 0;
    padding: 5px 0;
    border-left: 2px solid steelblue;

    .bar-container {
        position: relative;

        .bar {
            background-color: lightsteelblue;
            border-right: 1px solid steelblue;
            height: 30px;

            .label {
                background-color: steelblue;
                border-radius: 3px;
                color: white;
                padding: 3px 5px;
                font-size: 10px;
                opacity: 0.8;
                position: absolute;
                left: 5px;
                top: 5px;
            }
        }

        &:hover {
            background-color: #EEEEEE;

            .bar {
                background-color: steelblue;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HP gauge

.hp-gauge {
    height: 5px;
    background-color: lightgrey;
    overflow: hidden;

    .bar {
        float: left;
        height: 100%;

        &.unhurt {
            background-color: green;
        }

        &.injured {
            background-color: orange;
        }

        &.bloodied {
            background-color: crimson;
        }

        &.temp {
            background-color: royalblue;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Difficulty gauge

.difficulty-gauge {
    margin: 5px 0;
    padding: 1px 3px;
    border: 1px solid $control-border;
    background-color: $background;

    .bar-container {
        margin: 2px 0;
        height: 5px;
        position: relative;

        .bar {
            height: 5px;
            position: absolute;

            &.trivial {
                background-color: lightgreen;
            }
            &.easy {
                background-color: green;
            }
            &.medium {
                background-color: orange;
            }
            &.hard {
                background-color: crimson;
            }
            &.deadly {
                background-color: black
            }
        }
    }

    .encounter-container {
        position: relative;

        .encounter {
            width: 1%;
            height: 35px;
            top: -36px;
            position: absolute;
            background-color: royalblue;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Section

.section {
    margin: 5px 0;
    break-inside: avoid;

    &.centered {
        text-align: center;

        &>* {
            margin: 0 auto;
        }
    }

    .ability-scores {
        margin: 10px 0;
        background-color: $background;
        border: 1px solid $control-border;
        border-left-width: 5px;
        text-align: center;
        cursor: pointer;

        &:hover {
            border-color: $highlight;
        }

        .ability-score-group {
            display: inline-block;
            column-width: 120px;

            .ability-score {
                display: inline-block;
                width: calc((100% - 1px) / 3);
                padding: 5px;

                .ability-heading {
                    text-align: center;
                    font-weight: 600;
                }

                .ability-value {
                    text-align: center;
                    padding-top: 5px;
                }
            }
        }
    }

    &.key-stats {

        .key-stat {
            display: inline-block;
            width: calc((100% - 1px) / 2);
            text-align: center;

            .stat-value {
                display: inline-block;
                vertical-align: top;
                height: 30px;
                line-height: 30px;
                font-weight: 600;
                font-size: 25px;
            }

            .stat-label {
                display: inline-block;
                vertical-align: top;
                height: 30px;
                line-height: 30px;
                font-weight: 600;
                padding: 0 5px;
            }
        }
    }

    .input-label {
        padding-top: 5px;
        font-weight: 600;
    }

    &.small-text {
        font-size: 10px;
        font-weight: normal;
    }

    .statistic-value {
        vertical-align: middle;
        font-weight: 600;
        text-align: right;
    }

    .trait {
        break-inside: avoid-column;

        &.trait-template {
            cursor: pointer;

            &:hover {
                background-color: $highlight02;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.notifications {
    position: sticky;
    z-index: 15;
    top: 0;
    background-color: transparent;
    padding: 1px 5px 0 5px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.map-panel {
    overflow: auto;

    .grid {
        position: relative;
        margin: 0 auto;

        .grid-square {
            position: absolute;
            background-color: rgba(0, 60, 200, 0.2);
            transition: none;

            &.grid-overlay {
                opacity: 0.5;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &.thumbnail {
        pointer-events: none;
        overflow: hidden;
    }

    &.edit {
        overflow: visible;

        .grid {
            border: 1px solid $control-border;
            background-color: #B8C7F4;
            margin: 15px auto;
        }

        .tile:hover {
            border-color: $highlight;
        }
    }

    &.combat,
    &.combat-player {

        .overlay:hover, .token:hover {
            border-color: $highlight;
        }
    }

    &.combat {
        padding: 10px 0;
    }

    &.combat-player {
        padding: 20px;
    }
}

.tile {
    position: absolute;
    border: 1px solid darkgrey;
    background-color: lightgrey;

    &.default {
        background-image: url("../resources/images/map-tiles/default.jpg");
    }

    &.cavern {
        background-image: url("../resources/images/map-tiles/cavern.jpg");
    }

    &.dirt {
        background-image: url("../resources/images/map-tiles/dirt.jpg");
    }

    &.flagstone {
        background-image: url("../resources/images/map-tiles/flagstone.jpg");
    }

    &.floorboard {
        background-image: url("../resources/images/map-tiles/floorboard.jpg");
    }

    &.grassland {
        background-image: url("../resources/images/map-tiles/grassland.jpg");
    }

    &.pit {
        background-image: url("../resources/images/map-tiles/pit.jpg");
    }

    &.sand {
        background-image: url("../resources/images/map-tiles/sand.jpg");
    }

    &.snow {
        background-image: url("../resources/images/map-tiles/snow.jpg");
    }

    &.water {
        background-image: url("../resources/images/map-tiles/water.jpg");
    }

    &.selected {
        border-color: $highlight;
    }

    .custom-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .tile-content {
        position: absolute;
        width: 100%;
        height: 100%;

        .thick {
            stroke: rgb(100, 100, 100);
            stroke-width: 20%;
        }

        .medium {
            stroke: rgb(100, 100, 100);
            stroke-width: 10%;
        }

        .thin {
            stroke: rgb(100, 100, 100);
            stroke-width: 5%;
        }

        .outline {
            fill: rgb(255, 255, 255);
        }

        .filled {
            fill: rgb(100, 100, 100);
        }
    }
}

.overlay {
    position: absolute;
    border: 1px solid darkgrey;
    background-color: lightgrey;

    &.selected {
        border-color: $highlight;
    }
}

.aura {
    position: absolute;
    background-color: #005080;
    opacity: 0.2;
    pointer-events: none;
}

.token {
    position: absolute;
    background-color: #000065;
    border: 1px solid $control-border;
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.1);

    &.monster {
        background-color: #650000;
    }

    &.pc {
        background-color: #006500;
    }

    &.current {
        background-color: white;
        box-shadow: 0 0 10px 3px black;

        & .initials {
            color: black;
            font-weight: 600;
        }
    }

    &.selected {
        border-color: $highlight;
        box-shadow: 0 0 10px 3px black;
    }

    &.hidden {
        opacity: 0.3;
    }

    .portrait {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    .initials {
        font-size: 8px;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hp-gauge {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
    }

    .badge {
        position: absolute;
        top: -4px;
        left: -4px;
        font-size: 15px;
        z-index: 5;
    }

    .conditions {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: loadingCircle 10s infinite linear;
        z-index: 5;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tools {
    .language-options {
        .checkbox {
            margin: 3px;
        }
    }

    .language-output {
        .ant-collapse-header {
            font-size: 20px;
            font-weight: normal;
        }
    }

    .large {
        font-size: 20px;
        line-height: 25px;
        margin: 15px 0;
    }

    .die-rolls {
        text-align: center;
        font-weight: 600;
        padding-top: 20px;
    }

    .die-result {
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        padding-top: 20px;
    }
}

.group-panel {
    border-left: 5px solid #c3c3c3;
    background: $background;
    padding: 5px 10px;
    margin: 5px 0;
    break-inside: avoid-column;

    &.combat-controls {
        margin: 0 5px 10px 5px;
    }

    &.clickable {
        cursor: pointer;

        .group-panel {
            background-color: transparent;
        }

        &:hover {
            background-color: $highlight01;
        }
    }

    &:hover {
        border-color: $highlight;
    }
}

.readaloud {
    margin: 25px 10px;
    padding: 0 5px;
    background-color: #E0E5C1;
    border-style: solid;
    border-width: 11px;
    border-image: url("../resources/images/readaloud.png") 11;
    border-image-outset: 9px 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    .heading {
        border: none;
        padding: 5px 0;
        margin-bottom: 0;
    }
}

.descriptive {
    margin: 15px 5px;
    padding: 0 5px;
    background-color: #FAF7EA;
    border-style: solid;
    border-width: 7px;
    border-image: url("../resources/images/bookends.png") 12 stretch;
    border-image-outset: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    &.white {
        background-color: #FFFFFF;
    }

    .heading {
        font-size: 20px;
        border: none;
        padding-left: 0;
    }

    .text {
        padding: 8px 0;
    }
}

.portrait {
    img {
        width: 50px;
        height: 50px;
        border: 1px solid $control-border;
        border-radius: 50%;
        object-fit: cover;
    }

    &.editing {
        img {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;

            &:hover {
                border-color: $highlight;
                background-color: $highlight01;
            }

            &.clear {
                width: 20px;
                height: 20px;
                border: none;
            }
        }
    }

    &.inline {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;

        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }
}

.trait-bar {
    margin: 5px 0;
    padding: 5px 0;
    cursor: pointer;
    z-index: 2000;
    font-size: 14px;
    font-weight: 600;

    &:hover, &.selected {
        background-color: $highlight01;
        border-color: $highlight;
    }

    &.selected {
        font-weight: 600;
        cursor: default;
    }

    .name {
        display: inline-block;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
    }
}

.nav-item {
    margin: 10px 0;
    font-size: 20px;

    .text {
        display: inline-block;
        width: calc(100% - 30px);
        border-left: 5px solid $control-border;
        padding-left: 10px;
        padding-bottom: 3px;
        cursor: pointer;

        &:hover {
            background-color: $highlight01;
            border-color: $highlight;
        }
    }

    .toggle {
        display: inline-block;
        margin-left: 10px;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background-color: $highlight01;
        }

        &.open {
            transform: rotate(-180deg);
        }
    }
}

.nav-subitem {
    border-left: 5px solid $control-border;
    margin: 3px 30px 3px 10px;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;

    &:hover {
        background-color: $highlight01;
        border-color: $highlight;
    }
}

.drawer-header {
    height: 50px;
    background-color: $header-background;
    border-bottom: 1px solid $control-border;
    padding: 10px;
}

.drawer-content {
    height: calc(100% - 100px);

    .hp-value {
        height: 32px;
        margin: 5px 0;
        padding: 5px 8px;
        border: 1px solid $control-border;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
    }

    .companion {
        border: 1px solid $control-border;
        background-color: #FAF7EA;
        margin: 5px 0 !important;
        padding: 5px 0;
    }

    .monster-help {
        margin-top: 20px;

        .value-list {
            margin: 0 !important;

            &:nth-child(odd) {
                background-color: $highlight01;
            }

            .text-container {
                min-height: 42px;
                padding: 12px 0;

                &.number {
                    text-align: right;
                }
            }

            .bar-container {
                height: 22px;
                margin: 10px 0;
                padding: 0 !important;
                border-bottom: 1px solid $highlight02;

                .bar {
                    height: 100%;
                    background-color: $highlight;
                }
            }
        }
    }

    .name-row {
        margin: 5px 0;
        border-left: 5px solid $control-border;
    
        &:hover {
            border-color: $highlight;
        }
    
        .name-label {
            display: inline-block;
            width: 50%;
            padding-left: 8px;
        }
    
        .name-inputs {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }
    }
}

.drawer-footer {
    height: 50px;
    background-color: $header-background;
    border-top: 1px solid $control-border;
    padding: 4px 20px;
}

.floating-button {
    position: fixed;
    top: 10px;
    left: calc(50% - 15px);
    font-size: 20px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $highlight02;
    }
}

.selectable-image {
    cursor: pointer;
    border: 1px solid $control-border;
    padding: 5px;
    width: 100%;

    &:hover {
        border-color: $highlight;
    }
}

.condition-panel {
    .condition-name {
        font-weight: 600;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 70px);
        height: 25px;
        line-height: 25px;
        font-size: 14px;
    }

    .condition-buttons {
        display: inline-block;
        vertical-align: top;

        .anticon {
            margin: 0 5px;
            padding: 5px;
            font-size: 15px;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background-color: $highlight01;
            }
        }
    }
}

.combat-top-row {
    height: 50px;
    padding: 4px 0;
    background-color: $header-background;
    border-bottom: 1px solid $control-border;

    .statistic {
        height: 42px;
        line-height: 42px;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }
}

.combat-main {
    height: calc(100% - 50px);
}

.maximize-button {
    font-size: 32px;
    height: 32px;
    width: 32px;
    cursor: pointer;

    &:hover {
        background-color: $highlight01;
    }
}

.multiple-combatant-row {
    color: white;
    background-color: #656565;
    border-radius: 5px;
    margin: 3px 0;
    padding: 3px 5px;
    position: relative;
}

.grabber {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: ns-resize;
    display: inline-block;
    vertical-align: top;

    &.small {
        font-size: 14px;
        padding: 3px 0;
    }
}

.oracle-card {
    height: 250px;
    perspective: 1000px;
    margin: 10px 5px;

    .oracle-card-inner {
        position: relative;
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;

        .oracle-card-front,
        .oracle-card-back {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
            border: 1px solid $control-border;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
                border-color: $highlight;
            }
        }

        .oracle-card-front {
            text-align: center;
            font-size: 150px;
            background-color: $control-border;
            color: $background;

            &:hover {
                background-color: $highlight;
            }
        }

        .oracle-card-back {
            padding: 15px;
            transform: rotateY(180deg);

            .oracle-card-name {
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 10px;
                text-align: center;
            }

            .oracle-card-reversed {
                font-size: 10px;
                height: 20px;
                margin-bottom: 20px;
                text-align: center;
            }

            .oracle-card-meaning {
                font-size: 14px;
            }
        }
    }

    &.flipped .oracle-card-inner {
        transform: rotateY(180deg);
    }
}
