@import '~antd/dist/antd.css';

@import './theme.scss';
@import './overrides.scss';

@import './ability-score-panel.scss';
@import './card.scss';
@import './chart.scss';
@import './combat-screen.scss';
@import './condition-panel.scss';
@import './controls.scss';
@import './dice.scss';
@import './difficulty-gauge.scss';
@import './drawer.scss';
@import './group-panel.scss';
@import './hp-gauge.scss';
@import './layout.scss';
@import './map-panel.scss';
@import './playing-card.scss';
@import './portrait.scss';
@import './render-error.scss';
@import './session.scss';
@import './trait-bar.scss';
@import './utility.scss';

* {
	transition:
		color 0.2s ease-in-out,
		background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out;
}

html,
body,
#root,
.dojo {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	color: $foreground;
}

.fixed-top {
	position: sticky;
	z-index: 5;
	top: 0;
	background-color: $background;

	&::after {
		position: absolute;
		top: 40px;
		left: 1px;
		right: 1px;
		height: 5px;
		background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		content: "";
		z-index: 10;
	}
}

.app-name {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

hr {
	margin: 10px 20px;
	height: 0;
	border: none;
	border-top: 1px solid $control-border;
}

.image,
.anticon {
	transition: transform 0.2s ease-in-out;

	&.rotate {
		transform: rotate(-180deg);
	}
}

.table {
	background-color: $background;
	color: $foreground;
	border: 1px solid $control-border;
	margin: 8px 0;

	.table-row {
		display: flex;
		align-items: center;
		padding: 5px;
		font-size: 10px;

		&.table-row-header {
			font-size: 12px;
			font-weight: 600;
			border-bottom: 1px solid $control-border;
		}

		.table-cell {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;
			text-align: center;

			&.small {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 40px;
			}

			&.l {
				text-align: left;
			}

			&.r {
				text-align: right;
			}

			&.table-cell-highlight {
				background-color: $highlight;
				color: $background;
			}

			&.easy {
				padding-bottom: 4px;
				border-bottom: 3px solid green;
			}
		
			&.medium {
				padding-bottom: 4px;
				border-bottom: 3px solid orange;
			}
		
			&.hard {
				padding-bottom: 4px;
				border-bottom: 3px solid red;
			}
		
			&.deadly {
				padding-bottom: 4px;
				border-bottom: 3px solid black;
			}
		}
	}

	&.alternating .table-row:nth-child(even) {
		background-color: $highlight01;
	}
}

.dragged {
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	font-size: 12px;
	background-color: $background;
	box-sizing: border-box;
	user-select: none;
	transition-duration: 0s;
	z-index: 2000;

	* {
		transition-duration: 0s;
	}
}

.grid-panel {
	padding-bottom: 10px;

	> .heading {
		display: flex;
		align-items: center;
		height: 40px;

		> .title {
			flex-grow: 1;
			flex-shrink: 1;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		> .anticon {
			flex-basis: 28px;
			font-size: 18px;
			padding: 5px;

			&.selected {
				background-color: $highlight02;
			}
		}
	}
}

p,
.section {
	margin: 5px 0;
	break-inside: avoid;

	&.intro {
		font-size: 16px;
	}

	&.to-left {
		text-align: left;
	}

	&.centered {
		text-align: center;
	}

	&.to-right {
		text-align: right;
	}

	&.large {
		font-size: 15px;
	}

	&.small {
		font-size: 10px;
		font-weight: normal;
	}

	.right-value {
		vertical-align: middle;
		font-weight: 600;
		text-align: right;
	}
}

.selectable-image,
.nonselectable-image {
	border: 1px solid $control-border;
	padding: 5px;
	width: 100%;
	object-fit: contain;
	max-height: 100%;

	&.borderless {
		border: none;
	}
}

.selectable-image {
	cursor: pointer;

	&:hover {
		border-color: $highlight;
	}
}

.note {
	margin: 15px 10px;
	padding: 5px 10px;
	background-color: rgb(255, 250, 245);
	background-image: radial-gradient(rgb(255, 250, 245), rgb(250, 245, 240));
	color: $foreground;
	border: 1px solid $control-border;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

	&.white {
		background-color: #FFFFFF;
	}

	.heading {
		font-size: 20px;
		border: none;
		padding-left: 0;
	}
}

.control-with-icons {
	position: relative;
	margin: 5px 0;

	>input,
	>textarea {
		margin: 0;
	}

	>.icons {
		position: absolute;
		right: 0;
		top: 0;

		.anticon {
			font-size: 16px;
			padding: 8px;

			&:hover,
			&:focus {
				background-color: $highlight01;
			}
		}
	}
}

.content-then-icons {
	display: flex;
	align-items: center;

	>.content {
		flex: 1 1 0;
	}

	>.icons {
		flex: 0 0 auto;

		.anticon {
			font-size: 16px;
			padding: 5px;

			&:hover,
			&:focus {
				background-color: $highlight01;
			}
		}
	}
}

.pdf-document {
	width: 100%;
    overflow-x: auto;
	overflow-y: hidden;
	margin: 5px 0;
}

.statistic {
	text-align: center;

	.statistic-label {
		font-weight: 600;
	}

	.statistic-value {
		font-size: 26px;
		font-weight: 600;
	}

	.statistic-prefix,
	.statistic-suffix {
		font-size: 10px;
	}
}
