.card {
	background-color: #F5F5F5;
	border: 1px solid #656565;
	margin: 5px;

	.heading {
		height: 35px;
		font-size: 15px;
		margin: 0;
		padding: 5px;
		border-bottom: none;
		background-color: #656565;
		color: $background;

		.title {
			width: calc(100% - 25px);
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			overflow-x: hidden;
			overflow-y: hidden;
			text-overflow: ellipsis;
		}

		.image {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
		}

		.anticon {
			margin-top: 2px;
			font-size: 20px;
			vertical-align: middle;
			cursor: pointer;
		}
	}

	.hp-gauge {
		margin: 5px 0 10px 0;
	}

	hr {
		border-color: #656565;
	}

	&.pc {
		border: 1px solid #006500;
		background-color: beige;

		.heading {
			background-color: #006500;
		}

		.subheading {
			color: #006500;
		}

		hr {
			border-color: #006500;
		}

		.card-content {
	
			.stats {
				column-count: 1;
			}
		}
	}

	&.monster {
		border: 1px solid #650000;
		background-color: beige;

		.heading {
			background-color: #650000;
		}

		.subheading {
			color: #650000;
		}

		hr {
			border-color: #650000;
		}
	}

	&.encounter {
		border: 1px solid #006565;
		background-color: beige;

		.heading {
			background-color: #006565;
		}

		.subheading {
			color: #006565;
		}

		hr {
			border-color: #006565;
		}
	}

	&.map {
		border: 1px solid #000065;
		background-color: beige;

		.heading {
			background-color: #000065;
		}

		.subheading {
			color: #000065;
		}

		hr {
			border-color: #000065;
		}
	}

	&.combat {
		border: 1px solid #650065;
		background-color: beige;

		.heading {
			background-color: #650065;
		}

		.subheading {
			color: #650065;
		}

		hr {
			border-color: #650065;
		}
	}

	&.error {
		background-color: red;
		color: $background;

		.subheading, b, strong {
			color: $background;
		}

		hr {
			border-color: $background;
		}
	}

	.card-content {
		padding: 5px 10px;

		.stats {
			column-width: 220px;
			column-count: 2;
		}

		.trait {
			break-inside: avoid-column;
	
			.trait-buttons {
				margin-left: 10px;
				border-left: 5px solid $control-border;

				.link {
					margin: 0 5px;
					padding: 0 5px;
				}
			}
		
			&.trait-template {
				cursor: pointer;
	
				&:hover {
					background-color: $highlight02;
				}
			}
		}

		.fixed-height {
			height: 191px;
			overflow-y: auto;

			.combatant-row {
				margin: 5px 0;
				padding: 3px 5px;
				min-height: 26px;
				border-left: 5px solid $control-border;
				cursor: pointer;
				display: flex;
				align-items: center;

				.name {
					flex-grow: 1;
				}

				.value {
					flex-shrink: 0;
					font-size: 10px;
				}

				&.inactive {
					opacity: 0.5;

					.name,
					.value {
						text-decoration: line-through;
					}
				}

				&:hover {
					border-color: $highlight;
					background-color: $highlight01;
				}
			}
		}
	}
}
