.card {
	background-color: $card-background;
	background-image: radial-gradient($card-background, $card-background-outer);
	color: $foreground;
	border: 1px solid #656565;
	margin: 5px 0;

	.heading {
		height: 35px;
		font-size: 15px;
		margin: 0;
		padding: 5px;
		border-bottom: none;
		background-color: #656565;
		color: $background;

		.title {
			width: calc(100% - 25px);
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			overflow-x: hidden;
			overflow-y: hidden;
			text-overflow: ellipsis;
		}

		.image {
			width: 20px;
			height: 20px;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
		}

		.anticon {
			margin-top: 2px;
			font-size: 20px;
			vertical-align: middle;
			cursor: pointer;
		}
	}

	hr {
		border-color: #656565;
	}

	&.pc,
	&.ally {
		border: 1px solid #006500;

		.heading {
			background-color: #006500;
		}

		.subheading {
			color: #006500;
		}

		hr {
			border-color: #006500;
		}

		.card-content {
	
			.stats {
				column-count: 1;
			}
		}
	}

	&.monster,
	&.foe {
		border: 1px solid #650000;

		.heading {
			background-color: #650000;
		}

		.subheading {
			color: #650000;
		}

		hr {
			border-color: #650000;
		}
	}

	&.encounter {
		border: 1px solid #650065;

		.heading {
			background-color: #650065;
		}

		.subheading {
			color: #650065;
		}

		hr {
			border-color: #650065;
		}
	}

	&.map,
	&.neutral {
		border: 1px solid #000065;

		.heading {
			background-color: #000065;
		}

		.subheading {
			color: #000065;
		}

		hr {
			border-color: #000065;
		}
	}

	&.error {
		background-color: red;
		color: $background;

		.subheading, b, strong {
			color: $background;
		}

		hr {
			border-color: $background;
		}
	}

	.card-content {
		padding: 5px 10px;

		.stats {
			column-width: 218px;
			column-count: 2;

			.roll-buttons {
				border-left: 5px solid $control-border;

				.link {
					margin: 5px;
					padding: 0 5px;
				}
			}
		}

		.trait {
			break-inside: avoid-column;
	
			.trait-buttons {
				margin-left: 10px;
				border-left: 5px solid $control-border;

				.link {
					margin: 5px;
					padding: 0 5px;
				}
			}
		
			&.trait-template {
			}
		}

		.fixed-height {
			height: 191px;
			overflow-y: auto;

			.combatant-row {
				margin: 5px 0;
				padding: 3px 5px;
				min-height: 26px;
				border-left: 5px solid $control-border;
				cursor: pointer;
				display: flex;
				align-items: center;

				.name {
					flex-grow: 1;
				}

				.value {
					flex-shrink: 0;
					font-size: 10px;
				}

				&.inactive {
					opacity: 0.5;

					.name,
					.value {
						text-decoration: line-through;
					}
				}

				&:hover {
					border-color: $highlight;
					background-color: $highlight01;
				}
			}
		}
	}
}

.trait-template {
	display: flex;
	align-items: center;
	padding-right: 5px;

	.copy-trait-button {
		flex: 0 0 auto;
		margin: 2px 5px;
		padding: 3px;
		cursor: pointer;
		font-size: 18px;
		
		&:hover {
			background-color: $highlight02;
		}
	}

	.trait-content {
		flex: 1 1 0;
	}
}
