.combat-top-row {
	height: 50px;
	background-color: $top-row-background;
	border-bottom: 1px solid $control-border;

	.action {
		padding: 0 10px;
	}

	.menu {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		cursor: pointer;

		.anticon {
			padding: 0 10px;
			font-size: 26px;
		}
	}
}

.combat-main {
	height: calc(100% - 50px);

	.card {
		margin: 5px 0;
	}
}

.initiative-list-item {
	border: 0px solid $control-border;
	border-left-width: 5px;
	margin: 5px 0;

	&.clickable {
		cursor: pointer;
	}

	&:hover ,
	&.highlight,
	&.current {
		border-color: $highlight;
	}

	&.defeated {
		opacity: 0.5;
	}

	.header {
		height: 35px;
		padding: 5px 8px;
		background-color: $highlight01;
		display: flex;
		align-items: center;

		.name {
			display: inline-block;
			height: 22px;
			line-height: 22px;
			flex-grow: 1;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow-x: hidden;
			overflow-y: hidden;
		}
	}

	.init-entry-content {
		padding: 0 5px;

		.note {
			margin: 5px 0;
		}

		.note-heading {
			font-weight: 600;
		}

		.note-details {
			font-size: 11px;
			margin: 2px 0;
		}

		.icon-button {
			float: right;
			font-size: 14px;
			padding: 2px;
			pointer-events: all;

			&:hover {
				background-color: $highlight01;
			}
		}
	}
}

.next-up {
	margin: 15px 0;
}

.notifications {
	position: sticky;
	z-index: 15;
	top: 0;
	padding: 1px 5px 0 5px;
}

.legendary-usage .anticon {
	font-size: 20px;
	margin: 0 15px !important;
}

.init-separator {
	background-color: rgba(220, 220, 220, 0.5);
	font-weight: 600;
	padding: 5px;
	margin: 20px 0 !important;
}

.combat-top-row .information,
.initiative-list-item .information {
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;

	.information-value {
		font-size: 26px;
		padding: 0 5px;
	}
}
