@import 'theme.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Checkbox

.checkbox {
	margin: 5px 0;
	background-color: $background;
	color: $foreground;
	border: 1px solid $control-border;
	border-left-width: 5px;
	cursor: pointer;
	padding: 5px;

	.checkbox-label {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		min-height: 20px;
		line-height: 20px;
		font-weight: 600;
		width: calc(100% - 40px);
	}

	.toggle-container {
		display: inline-block;
		vertical-align: middle;
		height: 20px;
		width: 30px;
		padding: 2px;
		margin-left: 5px;
		background-color: $control-border;

		.toggle {
			background-color: $background;
			height: 16px;
			width: 16px;
			transition: margin-left 0.1s ease-in-out;
		}
	}

	&.checked .toggle-container {
		background-color: $highlight;

		.toggle {
			margin-left: 10px;
		}
	}

	&:hover {
		border-color: $highlight;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ConfirmButton

.confirm-button {
	&:hover {
		border-color: rgb(170, 0, 0);
		color: rgb(170, 0, 0);
	}

	.anticon:hover {
		background-color: rgba(170, 0, 0, 0.1) !important;
		color: rgb(170, 0, 0) !important;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dropdown

.dropdown {
	margin: 5px 0;
	background-color: $background;
	color: $foreground;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;

		&:hover {
			.dropdown-top,
			.dropdown-options {
				border-color: $highlight;
			}
		}

		&.open .dropdown-top .ellipsis {
			transform: rotate(90deg);
		}

	.dropdown-top {
		height: 32px;
		padding: 5px 10px;
		font-weight: 600;
		border: 1px solid $control-border;
		border-left-width: 5px;

		.item-text {
			display: inline-block;
			vertical-align: middle;
			height: 20px;
			width: calc(100% - 21px);
			line-height: 20px;
			overflow-x: hidden;
			overflow-y: hidden;
			text-overflow: ellipsis;
		}

		.anticon {
			position: absolute;
			font-size: 16px;
			right: 8px;
			top: 8px;
		}
	}

	.dropdown-options {
		background-color: $background;
		border: 1px solid $control-border;
		border-top: none;
		max-height: 346px;
		overflow-y: auto;
		box-shadow: 0 3px 5px 0 rgba(220, 220, 220, 0.5);
		z-index: 20;

		.dropdown-filter {
			margin: 0 5px;
			position: sticky;
			top: 0;
			background-color: $background;
		}

		.dropdown-option {
			margin: 5px;
			padding-left: 5px;
			border-left: 5px solid $control-border;
			min-height: 25px;
			line-height: 25px;
			white-space: nowrap;
			overflow-x: hidden;
			overflow-y: hidden;
			text-overflow: ellipsis;

			&:hover {
				border-color: $highlight;
				background-color: $highlight01;
			}

			&.selected {
				font-weight: 600;
				border-color: $highlight;
				background-color: $highlight02;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Group

.group-panel {
	border-left: 5px solid $control-border;
	background-color: $background;
	padding: 5px 5px 5px 10px;
	margin: 5px 0;
	break-inside: avoid-column;

	&.transparent {
		background-color: transparent;
	}

	&.clickable {
		cursor: pointer;

		.group-panel {
			background-color: transparent;
		}

		&.selected,
		&:hover {
			background-color: $highlight01;
		}
	}

	&:hover {
		border-color: $highlight;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Note

blockquote,
.note {
	margin: 15px 5px;
	padding: 5px 10px;
	background-color: rgb(255, 250, 245);
	background-image: radial-gradient(rgb(255, 250, 245), rgb(250, 245, 240));
	color: $foreground;
	border-width: 0 1px;
	border-style: solid;
	border-color: black;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	position: relative;

	.top-left-roundel, .top-right-roundel, .bottom-left-roundel, .bottom-right-roundel {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: black;
		position: absolute;
	}

	.top-left-roundel {
		top: -3.5px;
		left: -3.5px;
	}

	.top-right-roundel {
		top: -3.5px;
		right: -3.5px;
	}

	.bottom-left-roundel {
		bottom: -3.5px;
		left: -3.5px;
	}

	.bottom-right-roundel {
		bottom: -3.5px;
		right: -3.5px;
	}

	.heading {
		font-size: 20px;
		border: none;
		padding-left: 0;
	}

	.note-heading {
		font-weight: 600;
	}

	.note-details {
		font-size: 11px;
		margin: 2px 0;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NumberSpin

.number-spin {
	margin: 5px 0;
	background-color: $background;
	color: $foreground;
	border: 1px solid $control-border;
	border-left-width: 5px;
	display: flex;
	align-items: center;
	min-height: 32px;

	&:hover {
		border-color: $highlight;
	}

	.spin-button {
		flex: 0 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 16px;
		width: 16px;
		margin: 5px;
		background-color: transparent;
		border: 1.5px solid $foreground;
		border-radius: 50%;
		font-weight: 600;
		cursor: pointer;

		&:hover {
			background-color: $highlight01;
			border-color: $highlight05;
		}

		&.multiple {
			font-size: 7px;
			letter-spacing: -0.5px;
		}
	}

	.info {
		flex: 1 1 0;
		margin: 2px 0;
		text-align: center;

		.info-label {
			font-size: 10px;
		}

		.info-value {
			font-weight: 600;
			font-size: 12px;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Radial

.radial {
	.undo, .dial, .altitude {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.dial {
		display: flex;
		flex-direction: column;
		align-items: center;

		.cells {
			height: 122px;
			width: 122px;
			background-color: $background;
			color: $foreground;
			border: 1px solid $control-border;
			border-radius: 30%;
			box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);

			.radial-cell {
				display: inline-block;
				vertical-align: middle;
				height: 40px;
				width: 40px;

				.radial-arrow,
				.radial-toggle {
					height: 40px;
					width: 40px;
					line-height: 40px;
					font-size: 40px;
					border-radius: 30%;

					&.radial-arrow-diag {
						font-size: 20px;
						margin: 10px;
						height: 20px;
						width: 20px;
						line-height: 20px;
					}

					&:hover {
						background-color: $highlight02;
					}
				}

				.radial-toggle {
					font-size: 12px;
					border: 1px solid $control-border;
					margin: 5px;
					height: 30px;
					width: 30px;
					line-height: 28px;
					text-align: center;
				}
			}
		}
	}

	.undo, .altitude {
		.anticon {
			padding: 5px;
			font-size: 30px;

			&:hover {
				background-color: $highlight02;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Radio group

.radio-group {
	.radio-item {
		margin: 5px 0;
		background-color: $background;
		color: $foreground;
		border-left: 5px solid $control-border;
		cursor: pointer;

		&:hover {
			border-color: $highlight;
			background-color: $highlight01;
		}

		&.selected {
			border-color: $highlight;
			cursor: default;

			.radio-item-top {
				color: $highlight;
			}
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.radio-item-top {
			padding: 8px 6px 8px 10px;
			display: flex;
			align-items: center;

			.radio-item-text {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
				font-weight: 600;
			}

			.radio-item-info {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: auto;
				font-size: 10px;
			}
		}

		.radio-item-details {
			padding: 0 6px 8px 10px;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Selector

.selector {
	margin: 5px 0;
	padding: 3px;
	background-color: $background;
	color: $foreground;
	border: 1px solid $control-border;
	border-left-width: 5px;
	display: flex;
	flex-wrap: wrap;

	.option {
		text-align: center;
		height: 24px;
		padding: 3px;
		overflow-x: hidden;
		overflow-y: hidden;
		text-overflow: ellipsis;
		cursor: pointer;

		&:hover {
			background-color: $highlight01;
		}

		&.selected {
			cursor: default;
			background-color: $highlight02;
			font-weight: 600;
		}
	}

	&:hover {
		border-color: $highlight;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Statistic

.statistic {
	text-align: center;

	.statistic-label {
		font-weight: 600;
	}

	.statistic-value {
		font-size: 26px;
		font-weight: 600;
	}

	.statistic-prefix,
	.statistic-suffix {
		font-size: 10px;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Tabs

.tabs {
	margin: 10px 0;
	height: 32px;
	background-color: transparent;
	display: flex;

	.tab {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		text-align: center;
		border-bottom: 2px solid $control-border;
		padding: 3px;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 24px;
		overflow-x: hidden;
		overflow-y: hidden;
		text-overflow: ellipsis;
		cursor: pointer;

		&:hover {
			border-bottom-color: $highlight;
			background-color: $highlight01;
		}

		&.selected {
			background-color: $highlight02;
			border-bottom-color: $highlight;
			font-weight: 600;
			cursor: default;
		}
	}

	&:hover {
		border-color: $highlight;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
