.hp-gauge {
	height: 15px;
	padding: 5px 0;

	.bar {
		float: left;
		height: 100%;

		&.unhurt {
			background-color: green;
		}

		&.injured {
			background-color: orange;
		}

		&.bloodied {
			background-color: crimson;
		}

		&.temp {
			background-color: royalblue;
		}
	}
}
