.dojo {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 12px;
    background-color: $background;
    box-sizing: border-box;
    user-select: none;

    &.popout {
        
        .map-panel {
            overflow-x: visible;
            overflow-y: visible;
        }
    }
}

.page-header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    background-color: $header-background;
    color: $header-foreground;

    .app-title {
        flex-grow: 1;
    }

    .title-bar-icon {
        padding: 5px;
        margin: 0 5px;
        font-size: 20px;

        &:hover {
            background-color: $highlight05;
        }

        &.selected {
            background-color: $highlight;
        }
    }
}

.page-content {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: row;

    .content {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
    }

    .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 400px;
        padding: 10px;

        .sidebar-container {
            display: flex;
            flex-direction: column;
            height: calc(100% + 20px);
            margin: -10px;

            .sidebar-header {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: auto;
                padding: 0 10px 10px 10px;
            }

            .sidebar-content {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 0;
                overflow-y: auto;
                padding: 10px;
                padding-top: 0;
            }
        }

        .language-options {
            .checkbox {
                margin: 2px;
            }
        }
    
        .generated-item {
            display: flex;
            align-items: center;
            font-size: 18px;
            padding: 5px 0;

            .text-section {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 0;
            }

            .icon-section {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: auto;

                .anticon {
                    padding: 5px;

                    &:hover {
                        background-color: $highlight02;
                    }
                }
            }
        }
        
        .die-rolls {
            text-align: center;
            font-weight: 600;
            padding-top: 20px;
        }
    
        .die-result {
            text-align: center;
            font-size: 50px;
            font-weight: 600;
            padding-top: 20px;
        }
    }
}

.page-footer {
    text-align: center;
    background-color: $header-background;
    color: $header-foreground;
    display: flex;
    align-items: center;

    .navigator-item {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        cursor: pointer;
        height: 50px;
        line-height: 48px;
        font-size: 16px;
        color: $header-foreground;

        &:hover {
            background-color: $highlight05;
        }

        &.selected {
            background-color: $highlight;
            font-weight: 600;
            pointer-events: none;
        }
    }

    .anticon {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin: 5px;
        padding: 5px;
        font-size: 20px;

        &:hover {
            background-color: $highlight05;
        }
    }
}

.sidebar {
    background-color: $highlight01;

    &.sidebar-left {
        border-right: 1px solid $control-border;
    }

    &.sidebar-right {
        border-left: 1px solid $control-border;
    }
}
