.dojo {
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	font-size: 12px;
	background-color: $background;
	box-sizing: border-box;
	user-select: none;
	display: flex;

	.app {
		height: 100%;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;

		.page-header {
			display: flex;
			align-items: center;
			height: 50px;
			background-color: $header-background;
			color: $header-foreground;

			.app-title {
				flex-grow: 1;
				margin: 0 10px;
				display: flex;
				align-items: center;

				.breadcrumb {
					border-left: 5px solid $header-foreground;
					margin-right: 20px;
					padding: 5px 10px;
					line-height: 20px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 2px;
					white-space: nowrap;
					cursor: pointer;

					&:nth-of-type(1) {
						font-size: 20px;
					}

					&:nth-last-child(1) {
						pointer-events: none;
					}

					&:hover {
						background-color: $highlight05;
					}
				}
			}

			.toggle {
				font-size: 20px;
				padding: 15px;
				cursor: pointer;

				&:hover {
					background-color: $highlight05;
				}
			}
		}

		.page-content {
			height: calc(100% - 100px);
		}

		.page-footer {
			text-align: center;
			background-color: $header-background;
			color: $header-foreground;
			display: flex;
			align-items: center;

			.navigator-item {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
				cursor: pointer;
				height: 50px;
				line-height: 48px;
				font-size: 16px;
				color: $header-foreground;

				&:hover {
					background-color: $highlight05;
				}

				&.selected {
					background-color: $highlight;
					font-weight: 600;
					pointer-events: none;
				}
			}

			.sidebar-padding {
				width: 400px;
				height: 50px;
				border-left: 1px solid $header-foreground;
			}
		}
	}

	.sidebar {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 400px;

		.sidebar-icons {
			background-color: $header-background;
			color: $header-foreground;
			width: 400px;
			display: flex;
			align-items: center;

			.sidebar-icon {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
				padding: 15px 0;
				font-size: 20px;

				&:hover {
					background-color: $highlight05;
				}

				&.selected {
					background-color: $highlight;
				}
			}
		}

		.sidebar-container {
			display: flex;
			flex-direction: column;
			height: calc(100% - 50px);

			.sidebar-header {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: auto;
				padding: 5px 10px;
			}

			.sidebar-content {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 0;
				overflow-y: auto;
				padding: 10px;
			}
		}

		.language-options {
			.checkbox {
				margin: 2px;
			}
		}

		.generated-item {
			display: flex;
			align-items: center;
			font-size: 18px;
			padding: 5px 10px;

			.text-section {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 0;

				.smaller {
					font-size: 15px;
				}
			}

			.icon-section {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: auto;
				opacity: 0;

				.anticon {
					padding: 5px;

					&:hover {
						background-color: $highlight02;
					}
				}
			}

			&:hover .icon-section {
				opacity: 1;
			}
		}
		
		.die-types {
			display: flex;

			.die-type {
				flex: 1 1 0;
				text-align: center;
				border: 1px solid $control-border;
				background-color: $background;
				margin: 0 3px;
				padding: 5px 0;
				cursor: pointer;

				&:hover {
					border-color: $highlight;
				}

				.die-type-value {
					padding-top: 5px;
					font-size: 20px;
					font-weight: 600;
				}

				&.none .die-type-value {
					opacity: 0.5;
				}
			}
		}

		.die-roll {
			display: flex;
			align-items: center;

			.rolls {
				flex: 1 1 0;
				flex-wrap: wrap;
				display: flex;
				align-items: center;

				.nat1 {
					background-color: rgba(255, 0, 0, 0.1);
				}

				.nat20 {
					background-color: rgba(0, 255, 0, 0.1);
				}

				.roll-icon {
					font-size: 16px;
					padding-left: 5px;

					&.advantage {
						color: green;
					}

					&.disadvantage {
						color: red;
					}
				}
			}

			.sum {
				flex: 0 0 70px;
				text-align: right;
				font-size: 25px;
				font-weight: 600;
			}
		}
	}

	&.popout {
		
		.map-panel {
			overflow-x: visible;
			overflow-y: visible;
		}
	}
}

.sidebar {
	background-color: rgb(240, 240, 240);

	&.sidebar-left {
		border-right: 1px solid $control-border;
	}

	&.sidebar-right {
		border-left: 1px solid $control-border;
	}
}
