.map-panel {
	.map-menu {
		position: relative;
		z-index: 4;
		height: 42px;
		display: flex;
		align-items: center;

		>.anticon {
			margin: 0 3px;
			flex: 0 0 auto;
			padding: 5px;
			font-size: 20px;

			&:hover {
				background-color: $highlight01;
			}

			&.selected {
				background-color: $highlight02;
				color: $highlight;
			}
		}
	}

	&.thumbnail {
		.grid {
			height: 100%;
		}
	}

	&.edit {
		.map-tile,
		.wall-vertex,
		.map-wall {
			cursor: pointer;
		}

		.map-tile:hover {
			outline: 5px solid $highlight;
		}

		.map-tile.selected {
			outline: 6px solid $highlight;
		}

		.map-wall:hover {
			outline: 1px solid $highlight;
		}

		.map-wall.selected {
			outline: 2px solid $highlight;
		}

		.wall-vertex:hover {
			border-color: $highlight;
		}

		.wall-vertex.selected {
			border-color: $highlight;
			background-color: $highlight;
		}
	}

	&.setup,
	&.interactive-dm,
	&.interactive-player {
		.overlay:hover,
		.token:hover {
			box-shadow: 0 0 10px 2px $highlight;
		}
	}

	&.thumbnail,
	&.edit,
	&.setup,
	&.interactive-dm {
		.dim-light,
		.darkness {
			opacity: 0.5;
			box-shadow: none !important;
		}
	}

	&.interactive-dm {
		.map-wall.openable:hover {
			box-shadow: 0 0 10px 2px $highlight;
		}
	}

	.grid {
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: calc(100% - 42px);
		overflow: hidden;

		.grid-square {
			position: absolute;

			&.cell {
				border: 1px solid $control-border-05;
				cursor: pointer;

				&:hover,
				&.selected {
					background-color: $highlight02;
				}
			}

			&.dim-light {
				background-color: rgba(0, 0, 0, 0.5);
				pointer-events: none;
			}

			&.darkness {
				background-color: black;
				pointer-events: none;
			}

			&.step {
				background-color: rgba(0, 0, 0, 0.5);
				border: 1px solid white;
				pointer-events: none;
				display: flex;
				align-items: center;
				justify-content: center;

				.content {
					color: white;
					font-weight: 600;
				}
			}
		}

		.grid-focus {
			position: absolute;
			border: 2px solid $highlight;
			box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
			pointer-events: none;
		}
	}

	.map-tile {
		position: absolute;
		background-color: lightgrey;

		&.default {
			background-image: url("../resources/images/map-tiles/default.jpg");
			background-repeat: round;
		}

		&.cavern {
			background-image: url("../resources/images/map-tiles/cavern.jpg");
			background-repeat: round;
		}

		&.dirt {
			background-image: url("../resources/images/map-tiles/dirt.jpg");
			background-repeat: round;
		}

		&.flagstone {
			background-image: url("../resources/images/map-tiles/flagstone.jpg");
			background-repeat: round;
		}

		&.floorboard {
			background-image: url("../resources/images/map-tiles/floorboard.jpg");
			background-repeat: round;
		}

		&.grassland {
			background-image: url("../resources/images/map-tiles/grassland.jpg");
			background-repeat: round;
		}

		&.pit {
			background-image: url("../resources/images/map-tiles/pit.jpg");
			background-repeat: round;
		}

		&.sand {
			background-image: url("../resources/images/map-tiles/sand.jpg");
			background-repeat: round;
		}

		&.snow {
			background-image: url("../resources/images/map-tiles/snow.jpg");
			background-repeat: round;
		}

		&.water {
			background-image: url("../resources/images/map-tiles/water.jpg");
			background-repeat: round;
		}

		.custom-image {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	.wall-vertex {
		position: absolute;
		border: 1px solid darkgrey;
		background-color: lightgrey;
	}

	.map-wall {
		position: absolute;
		background-color: transparent;

		.wall {
			width: 100%;
			height: 100%;
			background-color: darkgrey;
		}
	}

	.map-tile .tile-content,
	.map-wall .wall-content {
		position: absolute;
		width: 100%;
		height: 100%;

		.thin-line {
			stroke: darkgrey;
			stroke-width: 3%;
		}

		.outline {
			stroke: darkgrey;
			stroke-width: 3%;
			fill: white;
		}

		.filled {
			fill: darkgrey;
		}
	}

	.map-wall .wall-icon {
		position: absolute;
		background-color: white;
		border: 1px solid $control-border;
		padding: 2px;
		left: calc(50% - 10px);
		top: calc(50% - 10px);
		width: 20px;
		height: 20px;
		font-size: 14px;
		cursor: pointer;

		&:hover {
			border-color: $highlight;
		}
	}

	.map-light-source {
		position: absolute;

		.anticon {
			position: absolute;
			background-color: white;
			border: 1px solid $control-border;
			padding: 2px;
			left: calc(50% - 10px);
			top: calc(50% - 10px);
			width: 20px;
			height: 20px;
			font-size: 14px;
			cursor: pointer;

			&:hover {
				border-color: $highlight;
			}
		}
	}

	.map-area {
		position: absolute;
		border: 2px solid $control-border-05;

		&:hover {
			border-color: $highlight05;
			background-color: $highlight01;
		}

		&.selected {
			border: 2px solid $highlight;
			box-shadow: 0 0 10px 2px $highlight;
		}
	}

	.map-area-name {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		text-shadow: 0 0 5px white;
		pointer-events: none;
	}

	.overlay {
		position: absolute;
		border: 1px solid darkgrey;
		background-color: lightgrey;
		transition:
			left 0.2s ease-in-out,
			top 0.2s ease-in-out,
			width 0.2s ease-in-out,
			height 0.2s ease-in-out;

		&.selected {
			border-color: $highlight;
		}
	}

	.aura {
		position: absolute;
		opacity: 0.3;
		pointer-events: none;
		transition:
			left 0.2s ease-in-out,
			top 0.2s ease-in-out,
			width 0.2s ease-in-out,
			height 0.2s ease-in-out;
	}

	.token {
		position: absolute;
		background-color: #000065;
		border: 2px solid $control-border;
		box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.1);
		transition:
			left 0.2s ease-in-out,
			top 0.2s ease-in-out,
			width 0.2s ease-in-out,
			height 0.2s ease-in-out;

		&.foe {
			background-color: #650000;
		}

		&.ally {
			background-color: #006500;
		}

		&.current {
			background-color: white;
			box-shadow: 0 0 10px 3px black;

			& .initials {
				color: black;
				font-weight: 600;
			}
		}

		&.selected {
			border-color: $highlight;
			box-shadow: 0 0 10px 3px black;
		}

		&.not-interactive {
			pointer-events: none;
		}

		&.hidden {
			opacity: 0.3;
		}

		.portrait {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}

		.initials {
			text-transform: uppercase;
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.ant-progress.ant-progress-circle {
			.ant-progress-inner {
				background-color: transparent;
				display: block;
			}
		}

		.hp-gauge {
			position: absolute;
			left: 0;
			right: 0;
			bottom: -10px;
		}

		.badge {
			position: absolute;
			top: -4px;
			left: -4px;
			font-size: 15px;
			z-index: 5;
		}

		.conditions {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			animation: loadingCircle 10s infinite linear;
			z-index: 5;
		}
	}
}
