.note {
	margin: 15px 5px;
	padding: 0 5px;
	background-color: #FAF7EA;
	border-style: solid;
	border-width: 7px;
	border-image: url("../resources/images/bookends.png") 12 stretch;
	border-image-outset: 4px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

	&.white {
		background-color: #FFFFFF;
	}

	.heading {
		font-size: 20px;
		border: none;
		padding-left: 0;
	}

	.text {
		padding: 8px 0;
	}
}
