.oracle-card {
	height: 200px;
	perspective: 1000px;
	margin: 10px 0;

	.oracle-card-inner {
		position: relative;
		height: 100%;
		transition: transform 0.5s;
		transform-style: preserve-3d;

		.oracle-card-front,
		.oracle-card-back {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			backface-visibility: hidden;
			border: 1px solid $control-border;
			border-radius: 15px;
			background-color: white;
			cursor: pointer;

			&:hover {
				border-color: $highlight;
			}
		}

		.oracle-card-front {
			text-align: center;
			font-size: 110px;
			background-color: $control-border;
			color: $background;

			&:hover {
				background-color: $highlight;
			}
		}

		.oracle-card-back {
			transform: rotateY(180deg);
			display: flex;
			flex-direction: column;
			padding: 0 5px;

			.oracle-card-name {
				flex: 0 0 60px;
				font-weight: 600;
				font-size: 14px;
				padding: 5px;
				border-bottom: 1px solid $control-border;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			.oracle-card-meaning {
				flex: 1 1 0;
				font-size: 10px;
				padding: 5px;
			}

			.oracle-card-footer {
				flex: 0 0 30px;
				font-size: 10px;
				padding: 5px;
				border-top: 1px solid $control-border;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	&.flipped .oracle-card-inner {
		transform: rotateY(180deg);
	}
}
