////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Standard Overrides

b,
strong,
.strong {
	font-weight: 600;
	color: rgba(0, 0, 0, 1);
}

input[type=text],
input[type=color] {
	user-select: text;
	height: 32px;
	margin: 5px 0;
	padding: 5px 8px;
	border: 1px solid $control-border;
	border-left-width: 5px;
	width: 100%;

	&:hover,
	&:focus {
		border-color: $highlight;
	}

	&.no-margins {
		margin: 0;
	}
}

input[type=color] {
	padding: 0 2px;
	background-color: $background;
}

textarea {
	margin: 5px 0;
	padding: 5px 8px;
	border: 1px solid $control-border;
	border-left-width: 5px;
	width: 100%;
	min-height: 105px;

	&:hover,
	&:focus {
		border-color: $highlight;
	}
}

input[type=text],
textarea {
	color: $foreground;

	&::placeholder {
		opacity: 0.6;
	}
}

audio,
video {
	width: 100%;
	max-height: 100%;
}

ul,
ol {
	padding-left: 20px;
	margin: 5px 0;

	li {
		margin: 5px 0;
	}
}

ul li {
	list-style-type: square;
}

a {
	background-color: $highlight01;
	color: $highlight;
	text-decoration: none;
	font-weight: 600;
	padding: 0 3px;

	&:visited {
		color: $highlight;
	}

	&:hover {
		background-color: $highlight02;
	}
}

table {
	border-spacing: 0;
	width: 100%;

	th, td {
		padding: 5px;
	}

	tbody tr:nth-child(odd) {
		background-color: #E0E5C1;
		color: $foreground;
	}

	tbody tr:nth-child(even) {
		background-color: #FFFFFF;
		color: $foreground;
	}
}

:focus {
	outline: none;
}

button {
	display: block;
	min-height: 32px;
	width: 100%;
	text-align: left;
	font-size: 12px;
	font-weight: 600;
	background-color: $background;
	color: $foreground;
	border: 1px solid $control-border;
	border-left-width: 5px;
	margin: 5px 0;
	padding: 5px 9px 5px 10px;
	cursor: pointer;

	&.link {
		display: unset;
		width: unset;
		background-color: unset;
		border: unset;
		padding: unset;
		margin: unset;
		min-height: unset;
		color: $highlight;

		&:hover,
		&:focus {
			background-color: $highlight01;
		}
	}

	&.image-button {
		height: 50px;
	}

	&:hover,
	&:focus {
		border-color: $highlight;

		.image {
			opacity: 1;
		}
	}

	&.disabled {
		background-color: $background;
		border-color: $control-border;
		cursor: default;
	}

	.details {
		margin: 3px 0;
		padding: 5px 0;
	}

	.title {
		width: calc(100% - 22px);
		display: inline-block;
		vertical-align: middle;
		min-height: 16px;
		line-height: 15px;
	}

	.image {
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Scrollbar

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
::-webkit-scrollbar-thumb {
	background-color: $control-border-05; 

	&:hover {
		background-color: $control-border; 
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Ant Overrides

.ant-drawer-wrapper-body {
	height: 100%;
}

.ant-drawer-body {
	padding: 0;
	font-size: 12px;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	height: 100%;
	user-select: none;
}

.ant-collapse {
	font-size: 12px;
}

.ant-collapse-borderless > .ant-collapse-item {
	margin: 5px 0;
	background-color: $background;
	border: 1px solid $control-border;
	border-radius: 0;
	border-left-width: 5px;

	&:hover {
		border-color: $highlight;
	}
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	padding: 5px 10px;
	font-weight: 600;
	line-height: 20px;
	color: $foreground;

	.collapse-header-text {
		width: calc(100% - 22px);
	}
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
	color: $foreground;
}

.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
	padding: 5px 10px;
	overflow-y: auto;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
	font-size: 16px;
	right: 2px;
	top: 2px;
	padding: 5px;
}

.ant-collapse-header:hover {
	background-color: $highlight01;
}

.ant-collapse-item-active:hover > .ant-collapse-header {
	background-color: $highlight01;
}

.ant-slider {
	margin: 10px 5px;
}

.ant-slider, .ant-slider:hover {
	.ant-slider-track {
		background-color: $highlight !important;
	}

	.ant-slider-handle {
		border-color: $highlight !important;

		&:focus {
			box-shadow: 0 0 0 5px $highlight02;
		}
	}
}

.ant-input-number {
	width: 100%;
	border-radius: 0;
	border-left-width: 5px;
	border-color: $control-border;

	&:hover,
	&:focus {
		box-shadow: none;
		border-color: $highlight;
	}

	.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
	.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
		color: $highlight;
	}
}

.ant-input-number-focused {
	box-shadow: none;
	border-color: $highlight;
}

.ant-tag {
	margin: 1px 2px;
	border-color: $control-border;
	background-color: $background;

	&:hover {
		opacity: 1;
	}

	&.ant-tag-checkable {
		border-color: $control-border;
		cursor: pointer;

		&.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
			border-color: $highlight;
			color: $highlight;
		}

		&.ant-tag-checkable-checked {
			border-color: $highlight;
			background-color: $highlight;
			color: $background;
		}
	}
}

.ant-upload.ant-upload-drag {
	background-color: $background;
	border: 1px solid $control-border;
	border-left-width: 5px;
	border-radius: 0;
	margin: 5px 0;

	&:not(.ant-upload-disabled):hover {
		border-color: $highlight;
		color: $highlight;
	}

	.ant-upload {
		padding: 0;
	}

	p.ant-upload-drag-icon {
		margin: 10px 0;

		.anticon {
			color: $control-border;
		}
	}

	p.ant-upload-text {
		font-size: 12px;
		text-align: left;
    	margin: 5px;
	}
}

.ant-carousel {
	width: 600px;
	font-size: 15px;
	color: $foreground;

	.slick-dots li {
		height: 16px;

		button {
			background-color: $control-border;
			min-height: 6px;
			border-radius: 3px;
		}

		&.slick-active button {
			background-color: $highlight;
		}
	}

	.slick-dots-bottom {
		bottom: -10px;
	}

	.slick-slide {
		height: 250px;
		overflow: hidden;
	}
}

.ant-popover {
	user-select: none;
	font-size: 12px;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;

	.ant-popover-inner {
		border-radius: 0;

		.ant-popover-inner-content {
			padding: 5px 10px;
		}
	}

	&.map-hover-tooltip {
		pointer-events: none;

		.ant-popover-inner {
			max-width: 225px;
		}
	}
	
	&.map-click-tooltip {
		.ant-popover-inner {
			max-width: 225px;
		}
	}
	
	&.confirm-tooltip {
		.ant-popover-inner {
			min-width: 260px;
		}
	}
}

.ant-message {
	.anticon {
		display: none;
	}

	.message-details {
		text-align: left;

		.result {
			text-align: center;
			font-weight: 600;
			font-size: 20px;
		}
	}
}

.ant-notification-notice {

	&.ant-notification-notice-closable {
		width: 400px;
		border: 1px solid $control-border;
		line-height: unset;
		font-family: 'Open Sans', 'Segoe UI', sans-serif;
		user-select: none;
		padding: 10px;
		display: flex;
		align-items: center;

		.ant-notification-notice-content {
			max-height: 250px;
			flex: 1 1 0;

			.ant-notification-notice-message {
				padding-right: 5px;
				margin-bottom: 0;
				font-size: 12px;
				line-height: unset;
				width: 100%;
				color: $foreground;
			}
		}

		.ant-notification-notice-close {
			font-size: 20px;
			position: unset;
			background-color: white;
			color: $foreground;

			&:hover {
				background-color: $highlight01;
			}
		}
	}
}

.ant-progress {
	.ant-progress-inner {
		background-color: $control-border-05;
	}

	.ant-progress-bg {
		background-color: $highlight;
	}

	.ant-progress-text {
		color: $foreground;
	}

	&.ant-progress-circle {
		.ant-progress-text {
			font-size: 15px;
		}
	}
}
