.render-error {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: orange;

	.render-message {
		margin: 5px;
		text-align: center;
		color: white;
		font-weight: 600;
	}

	button.link {
		margin: 5px;
	}
}
