.connection-panel {
	max-width: 300px;
	margin-bottom: 100px;
}

.connections-panel {
	.person {
		display: flex;
		align-items: center;

		.person-details {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;

			.name {
				font-weight: 600;
			}
		}

		.person-icon {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
			padding: 0 5px;
			font-size: 18px;

			&:hover,
			&.active {
				background-color: $highlight01;
			}
		}

		.status {
			opacity: 0.7;
		}

		.controls-panel {
			margin-top: 10px;
		}
	}
}

.character-panel {
	.name {
		display: inline-block;
	}
}

.messages-panel {
	margin: 5px 0;

	.message {
		&.from-me {
			text-align: right;
			margin-left: 25%;
		}
	
		&.to-me {
			text-align: left;
			margin-right: 25%;
		}
	}
}

.message {
	margin: 5px 0;
	padding: 10px 10px 5px 10px;
	border-radius: 10px;
	background-color: white;

	.message-byline {
		font-size: 10px;

		.anticon {
			margin-left: 3px;
		}

		&.private {
			color: $highlight;
		}
	}

	.message-content {
		.text {
			font-size: 15px;
		}

		.untranslated {
			filter: blur(3px);
		}

		.language {
			font-size: 10px;
			font-style: italic;
		}

		.emote {
			font-style: italic;
		}

		.link {
			display: block;
			border: 1px solid $control-border;
			border-radius: 5px;
			margin: 5px 0;
			padding: 5px;
			text-align: center;
		}

		.selectable-image {
			max-height: 100px;
		}

		.statblock {
			display: block;
		}
	}
}

.send-message-panel {
	.message-controls {
		display: flex;
		align-items: center;
		width: 100%;

		.selector {
			flex: 1 1 0;
		}

		.anticon {
			font-size: 16px;
			padding: 8px;

			&:hover {
				background-color: $highlight01;
			}
		}
	}

	.icons {
		.active {
			color: $highlight;
			background-color: $highlight01;
		}
	}

	.nonselectable-image {
		max-height: 100px;
	}
}
