.connection-panel {
	max-width: 300px;
	margin: 100px auto;
}

.person {
	.name {
		font-size: 15px;
		font-weight: 600;
	}

	.status {
		opacity: 0.7;
	}
}

.message-panel {
	margin: 5px 0;

	.message {
		margin: 5px 0;
		padding: 10px 10px 5px 10px;
		background-color: white;

		&.from-me {
			text-align: right;
			padding-left: 25%;
		}

		&.to-me {
			text-align: left;
			padding-right: 25%;
		}

		.message-byline {
			font-size: 10px;

			.anticon {
				margin-left: 3px;
			}

			&.private {
				color: $highlight;
			}
		}

		.message-content {
			&.emote {
				font-style: italic;
			}

			&.text {
				font-size: 15px;
			}

			&.monster {
				text-align: left;
			}

			.link {
				display: block;
				border: 1px solid $control-border;
				border-radius: 5px;
				margin: 5px 0;
				padding: 5px;
				text-align: center;
			}
		}
	}
}

.send-message-panel {
	.icons {
		.active {
			color: $highlight;
			background-color: $highlight01;
		}
	}
}
