$background: rgb(255, 255, 255);
$dark-background: rgb(50, 50, 50);

$foreground: rgba(0, 0, 0, 0.65);
$dark-foreground: rgba(255, 255, 255, 0.9);

$header-background: rgb(70, 70, 70);
$dark-header-background: rgb(0, 0, 0);

$header-foreground: rgb(255, 255, 255);
$dark-header-foreground: rgb(0, 0, 0);

$top-row-background: rgb(240, 240, 240);
$dark-top-row-background: rgb(50, 50, 50);

$sidebar-background: rgb(240, 240, 240);
$dark-sidebar-background: rgb(70, 70, 70);

$highlight: rgb(60, 120, 220);
$highlight01: rgba(60, 120, 220, 0.1);
$highlight02: rgba(60, 120, 220, 0.2);
$highlight05: rgba(60, 120, 220, 0.5);

$control-border: rgb(195, 195, 195);
$control-border-02: rgba(195, 195, 195, 0.2);
$control-border-05: rgba(195, 195, 195, 0.5);

$card-background: rgb(250, 250, 225);
$card-background-outer: rgb(245, 245, 220);

.dojo.dark,
.ant-drawer.dark {
	.app {
		.page-header {
			background-color: $dark-header-background;
		}

		.page-content {
			background-color: $dark-background;
			color: $dark-foreground;
		}

		.page-footer {
			background-color: $dark-header-background;
		}
	}

	.sidebar {
		background-color: $dark-sidebar-background;
		color: $dark-foreground;
	}

	.drawer-header {
		background-color: $dark-header-background;
	}

	.drawer-content {
		background-color: $dark-background;
		color: $dark-foreground;
	}

	.drawer-footer {
		background-color: $dark-header-background;
	}

	b, strong, .strong {
		color: rgb(255, 255, 255);
	}

	h1 {
		color: $dark-foreground;
	}

	.group-panel {
		background-color: $dark-background;
	}

	.card {
		border: 1px solid $control-border;
	}

	.note b,
	.note strong,
	.note .strong {
		color: rgb(0, 0, 0);
	}

	.card b,
	.card strong,
	.card .strong {
		color: rgb(0, 0, 0);
	}

	.fixed-top {
		background-color: $dark-background;
	}

	.combat-top-row {
		background-color: $dark-top-row-background;
	}

	.ant-carousel {
		color: $dark-foreground;
	}
}
