.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.scrollable {
	height: 100%;
	padding: 0 10px;
	overflow-x: hidden;
	overflow-y: auto;

	&.both-ways {
		padding: 10px;
		overflow-x: auto;
	}

	&.horizontal-only {
		height: unset;
		padding: 10px 0;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&.padded {
		padding: 10px;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.lowercase {
	text-transform: lowercase;
}

.disabled {
	pointer-events: none;
	opacity: 0.4 !important;
}

.strikethrough {
	text-decoration: line-through;
	opacity: 0.8;
	pointer-events: none;
}

.anticon.inline-text {
	font-size: 8px;
	line-height: 12px;
	vertical-align: middle;
}

h1,
.heading {
	border-bottom: 1px solid $control-border;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 20px;
	font-weight: 600;

	.anticon {
		float: right;
		margin-top: 5px;
	}
}

h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2,
.subheading {
	font-weight: 600;
	font-size: 15px;
}
