@font-face {
  font-family: BodyText;
  src: url("/resources/fonts/Bookinsanity.otf") format("opentype"); }

@font-face {
  font-family: Heading;
  src: url("/resources/fonts/Mr Eaves Small Caps.otf") format("opentype"); }

@font-face {
  font-family: Title;
  src: url("/resources/fonts/Nodesto Caps Condensed.otf") format("opentype"); }

@font-face {
  font-family: CalloutText;
  src: url("/resources/fonts/Scaly Sans.otf") format("opentype"); }

@font-face {
  font-family: CalloutHeading;
  src: url("/resources/fonts/Scaly Sans Caps.otf") format("opentype"); }

@font-face {
  font-family: DropCap;
  src: url("/resources/fonts/Solbera Imitation.otf") format("opentype"); }

@font-face {
  font-family: Caption;
  src: url("/resources/fonts/Zatanna Misdirection.otf") format("opentype"); }

b,
strong {
  font-weight: 600;
  color: black; }

input[type=text],
textarea {
  -webkit-appearance: none;
  -webkit-user-select: text;
  margin: 5px 0;
  padding: 5px 8px;
  border: 1px solid #c3c3c3;
  width: 100%;
  border-radius: 0;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; }
  input[type=text]:hover, input[type=text]:focus,
  textarea:hover,
  textarea:focus {
    border-color: #3c78dc; }

input[type=text] {
  height: 32px; }

textarea {
  min-height: 100px;
  resize: vertical; }

ul {
  padding-left: 20px; }

li {
  margin: 5px 0; }

a {
  color: #3c78dc;
  text-decoration: none;
  font-weight: 600; }
  a:hover {
    background-color: rgba(60, 120, 220, 0.1); }
  a:visited {
    color: #3c78dc; }

:focus {
  outline: none; }

button {
  display: block;
  min-height: 32px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #3c3c3c;
  background-color: white;
  border: 1px solid #c3c3c3;
  border-left-width: 5px;
  margin: 5px 0;
  padding: 5px 9px 5px 10px;
  cursor: pointer; }
  button:hover {
    border-color: #3c78dc; }
    button:hover .image {
      opacity: 1; }
  button.disabled {
    background-color: white;
    border-color: #c3c3c3;
    opacity: 0.5;
    cursor: default;
    pointer-events: none; }
  button .details {
    margin: 3px 0;
    padding: 5px 0; }
  button .destructive,
  button .non-destructive {
    background-color: white;
    border: 1px solid #c3c3c3;
    border-left-width: 5px;
    margin: 3px 0;
    padding: 5px 8px;
    height: 32px;
    line-height: 18px;
    cursor: pointer; }
  button .destructive {
    border-color: #aa0000; }
    button .destructive:hover {
      background-color: rgba(255, 0, 0, 0.3); }
  button .non-destructive:hover {
    border-color: #3c78dc; }
  button .title {
    width: calc(100% - 22px);
    display: inline-block;
    vertical-align: middle;
    min-height: 16px;
    line-height: 15px; }
  button .image {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0; }
  button .confirmation {
    padding-top: 10px; }

.scrollable {
  height: 100%;
  padding: 0 15px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.left {
  float: left; }

.right {
  float: right; }

.heading {
  padding: 5px 0;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600; }

.subheading {
  font-weight: 600;
  font-size: 14px;
  padding-top: 3px;
  color: #656565; }

.divider {
  margin: 10px 20px;
  height: 0;
  border-top: 1px solid #c3c3c3; }

.list-column {
  padding: 5px !important; }

.lowercase {
  text-transform: lowercase; }

.disabled {
  pointer-events: none;
  opacity: 0.5; }

.vertical-center-outer {
  display: table;
  height: 100%;
  width: 100%; }
  .vertical-center-outer .vertical-center-middle {
    display: table-cell;
    vertical-align: middle; }
    .vertical-center-outer .vertical-center-middle .vertical-center-inner {
      margin: 0 auto;
      width: 50%; }

.image.rotate {
  transform: rotate(-180deg); }

.table {
  background-color: white;
  border: 1px solid #c3c3c3;
  margin: 8px 0;
  padding: 3px 0; }
  .table .cell {
    display: inline-block;
    padding: 2px 0;
    text-align: center; }
    .table .cell.three {
      width: calc((100% - 1px) / 3); }
    .table .cell.four {
      width: calc((100% - 1px) / 4); }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  user-select: none; }

html,
body,
#root,
.dojo {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden; }

.dojo {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: white;
  color: #3c3c3c; }

.page-content {
  height: calc(100% - 100px); }

.home,
.parties,
.monster-library,
.encounter-builder,
.map-builder,
.combat-manager,
.about {
  height: 100%; }

.welcome-panel {
  padding: 3px;
  border-left: 5px solid #3c3c3c; }
  .welcome-panel .heading {
    padding-left: 8px;
    margin-left: -3px;
    margin-top: -3px; }
  .welcome-panel .text {
    margin: 7px; }

.card-group {
  margin-bottom: 20px;
  padding: 0 5px; }
  .card-group .heading .title {
    width: calc(100% - 20px);
    display: inline-block;
    vertical-align: middle; }
  .card-group .heading .image {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; }
  .card-group .card {
    margin: 5px; }

.card {
  background-color: #F5F5F5;
  border: 1px solid #656565; }
  .card .heading {
    height: 35px;
    font-size: 15px;
    margin: 0;
    padding-left: 8px;
    border-bottom: none;
    background-color: #656565;
    color: white; }
    .card .heading .title {
      width: calc(100% - 25px);
      display: inline-block;
      vertical-align: middle; }
    .card .heading .image {
      width: 20px;
      height: 20px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle; }
  .card .hp-gauge {
    margin: 5px 0 10px 0; }
  .card .divider {
    border-top: 1px solid #656565; }
  .card.pc {
    border: 1px solid #006500;
    background-color: beige; }
    .card.pc .heading {
      background-color: #006500; }
    .card.pc .subheading {
      color: #006500; }
    .card.pc .divider {
      border-top: 1px solid #006500; }
  .card.monster {
    border: 1px solid #650000;
    background-color: beige; }
    .card.monster .heading {
      background-color: #650000; }
    .card.monster .subheading {
      color: #650000; }
    .card.monster .divider {
      border-top: 1px solid #650000; }
  .card.map {
    border: 1px solid #000065;
    background-color: beige; }
    .card.map .heading {
      background-color: #000065; }
    .card.map .subheading {
      color: #000065; }
    .card.map .divider {
      border-top: 1px solid #000065; }
  .card.map-tile {
    border: 1px solid #650065;
    background-color: beige; }
    .card.map-tile .heading {
      background-color: #650065; }
    .card.map-tile .subheading {
      color: #650065; }
    .card.map-tile .divider {
      border-top: 1px solid #650065; }
  .card.error {
    background-color: red;
    color: white;
    font-weight: 600; }
  .card .card-content {
    padding: 5px 10px; }
  .card .damage-btn {
    vertical-align: top;
    display: inline-block;
    width: calc((100% - 5px) / 3);
    margin: 0; }
    .card .damage-btn:not(:first-child):not(:last-child) {
      margin: 0 2px; }

.combatant-row {
  margin: 10px 0;
  background-color: beige;
  cursor: pointer; }
  .combatant-row.highlight {
    cursor: default; }
  .combatant-row .name {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 3px 5px 5px 5px; }
    .combatant-row .name .info {
      float: right; }
  .combatant-row .content {
    padding: 0 5px; }
    .combatant-row .content button, .combatant-row .content .hp-gauge, .combatant-row .content .condition, .combatant-row .content .note {
      margin-bottom: 5px; }
    .combatant-row .content .condition .condition-name {
      font-weight: 600; }
    .combatant-row .content .condition .condition-text {
      font-size: 11px;
      margin: 2px 0; }
    .combatant-row .content .note {
      font-weight: 600; }
  .combatant-row.pc {
    border: 1px solid #006500; }
    .combatant-row.pc .name {
      background-color: #006500; }
  .combatant-row.monster {
    border: 1px solid #650000; }
    .combatant-row.monster .name {
      background-color: #650000; }

.chart {
  height: 300px;
  border: 1px solid #c3c3c3;
  background-color: white; }
  .chart .plot {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    border-bottom: 1px solid #c3c3c3; }
    .chart .plot .bar-container {
      display: inline-block;
      height: 100%; }
      .chart .plot .bar-container .bar {
        background-color: lightsteelblue;
        border-top: 1px solid steelblue;
        vertical-align: bottom; }
      .chart .plot .bar-container:hover .bar {
        background-color: steelblue; }
      .chart .plot .bar-container:hover .bar-space {
        background-color: #EEEEEE; }

.hp-gauge {
  height: 5px;
  background-color: lightgrey; }
  .hp-gauge .bar {
    float: left;
    height: 100%; }
    .hp-gauge .bar.unhurt {
      background-color: green; }
    .hp-gauge .bar.injured {
      background-color: orange; }
    .hp-gauge .bar.bloodied {
      background-color: crimson; }
    .hp-gauge .bar.temp {
      background-color: royalblue; }

.difficulty-gauge {
  margin: 5px 0;
  padding: 1px 3px;
  border: 1px solid #c3c3c3;
  background-color: white; }
  .difficulty-gauge .bar-container {
    margin: 2px 0;
    height: 5px;
    position: relative; }
    .difficulty-gauge .bar-container .bar {
      height: 5px;
      position: absolute; }
      .difficulty-gauge .bar-container .bar.trivial {
        background-color: lightgreen; }
      .difficulty-gauge .bar-container .bar.easy {
        background-color: green; }
      .difficulty-gauge .bar-container .bar.medium {
        background-color: orange; }
      .difficulty-gauge .bar-container .bar.hard {
        background-color: crimson; }
      .difficulty-gauge .bar-container .bar.deadly {
        background-color: black; }
  .difficulty-gauge .encounter-container {
    position: relative; }
    .difficulty-gauge .encounter-container .encounter {
      width: 1%;
      height: 35px;
      top: -36px;
      position: absolute;
      background-color: royalblue; }

.list-item {
  margin: 5px 0;
  padding: 3px;
  cursor: pointer;
  border-left: 5px solid #3c3c3c; }
  .list-item:hover {
    background-color: rgba(60, 120, 220, 0.1); }
  .list-item.selected {
    border-color: #3c78dc;
    background-color: rgba(60, 120, 220, 0.2);
    cursor: default; }
  .list-item .heading {
    padding-left: 8px;
    margin-left: -3px;
    margin-top: -3px; }
  .list-item .text {
    margin: 7px; }

.section {
  margin: 5px 0; }
  .section.centered {
    text-align: center; }
    .section.centered > * {
      margin: 0 auto; }
  .section .ability-scores {
    margin: 10px 0;
    padding: 5px 0;
    background-color: white;
    border: 1px solid #c3c3c3;
    border-left-width: 5px;
    cursor: pointer; }
    .section .ability-scores:hover {
      border-color: #3c78dc; }
    .section .ability-scores .ability-score {
      display: inline-block;
      width: calc((100% - 1px) / 6);
      padding: 0 5px; }
    .section .ability-scores .ability-heading {
      text-align: center;
      font-weight: 600; }
    .section .ability-scores .ability-value {
      text-align: center;
      padding-top: 5px; }
  .section.key-stats .key-stat {
    display: inline-block;
    width: calc((100% - 1px) / 3);
    text-align: center; }
    .section.key-stats .key-stat.wide {
      width: calc(2 * (100% - 1px) / 3); }
    .section.key-stats .key-stat .stat-value {
      display: inline-block;
      vertical-align: top;
      height: 30px;
      line-height: 30px;
      font-weight: 600;
      font-size: 25px; }
    .section.key-stats .key-stat .stat-label {
      display: inline-block;
      vertical-align: top;
      height: 30px;
      line-height: 30px;
      font-weight: 600;
      padding-left: 5px; }
  .section .input-label {
    padding-top: 5px;
    font-weight: 600; }
  .section.small-text {
    font-size: 10px;
    font-weight: normal; }

.overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); }

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  touch-action: none;
  pointer-events: none; }

.modal {
  height: calc(100% - 160px);
  width: calc(100% - 100px);
  margin: 80px 50px; }
  .modal .modal-header {
    height: 40px;
    background-color: gainsboro;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3; }
    .modal .modal-header .title {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 40px);
      padding-left: 15px;
      line-height: 40px;
      font-size: 20px;
      font-weight: 600;
      color: #3c3c3c; }
    .modal .modal-header .image {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      padding: 2px;
      margin: 5px;
      border-radius: 50%;
      cursor: pointer; }
      .modal .modal-header .image:hover {
        background-color: rgba(60, 120, 220, 0.2); }
  .modal .modal-content {
    height: calc(100% - 82px);
    padding: 0 15px;
    background-color: white; }
    .modal .modal-content .hp-value {
      height: 32px;
      margin: 5px 0;
      padding: 5px 8px;
      border: 1px solid #c3c3c3;
      font-size: 15px;
      text-align: center;
      font-weight: 600; }
    .modal .modal-content .monster-help {
      margin-top: 20px; }
      .modal .modal-content .monster-help .value-list {
        margin: 0; }
        .modal .modal-content .monster-help .value-list:nth-child(odd) {
          background-color: rgba(60, 120, 220, 0.1); }
        .modal .modal-content .monster-help .value-list .column {
          min-height: 38px; }
          .modal .modal-content .monster-help .value-list .column .text-container {
            margin: 10px 0; }
            .modal .modal-content .monster-help .value-list .column .text-container.number {
              text-align: right; }
          .modal .modal-content .monster-help .value-list .column .bar-container {
            height: 18px;
            margin: 10px 0;
            border-bottom: 1px solid rgba(60, 120, 220, 0.2); }
            .modal .modal-content .monster-help .value-list .column .bar-container .bar {
              height: 100%;
              background-color: #3c78dc; }
    .modal .modal-content .map-editor {
      height: 100%;
      margin: 0 -15px; }
      .modal .modal-content .map-editor .tools {
        display: inline-block;
        vertical-align: top;
        overflow-y: auto;
        height: 100%;
        width: 250px;
        padding: 10px; }
      .modal .modal-content .map-editor .map-panel {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 250px);
        height: 100%; }
  .modal .modal-footer {
    height: 42px;
    background-color: gainsboro;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3; }
    .modal .modal-footer button,
    .modal .modal-footer .checkbox {
      display: inline-block;
      width: 180px;
      margin: 4px 5px; }

.name-row {
  margin: 5px 0;
  border-left: 5px solid #3c3c3c; }
  .name-row:hover {
    border-color: #3c78dc; }
  .name-row .name-label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 8px; }
  .name-row .name-inputs {
    display: inline-block;
    vertical-align: middle;
    width: 50%; }

.notification {
  min-height: 40px;
  margin: 5px;
  border-left: 5px solid #3c3c3c;
  font-weight: 600;
  position: relative; }
  .notification:hover {
    background-color: rgba(60, 120, 220, 0.1);
    border-color: #3c78dc; }
  .notification .text {
    padding: 11px 5px; }
  .notification .buttons {
    position: absolute;
    right: 0;
    top: 4px; }
    .notification .buttons button {
      width: 90px;
      display: inline-block;
      margin: 0 3px; }

.map-panel {
  overflow: auto; }
  .map-panel .grid {
    position: relative; }
    .map-panel .grid .grid-square {
      position: absolute;
      border: 1px solid white;
      background-color: rgba(0, 60, 200, 0.2); }
      .map-panel .grid .grid-square.grid-overlay {
        opacity: 0.5; }
  .map-panel.thumbnail {
    pointer-events: none; }
  .map-panel.edit .tile:hover {
    border-color: #3c78dc; }
  .map-panel.combat {
    padding: 20px; }
    .map-panel.combat .token:hover {
      border-color: #3c78dc; }

.tile {
  position: absolute;
  border: 1px solid darkgrey;
  background-color: lightgrey; }
  .tile.cavern {
    background-image: url("../../resources/images/map-tiles/cavern.jpg");
    background-size: 25px; }
  .tile.dirt {
    background-image: url("../../resources/images/map-tiles/dirt.jpg");
    background-size: 25px; }
  .tile.flagstone {
    background-image: url("../../resources/images/map-tiles/flagstone.jpg");
    background-size: 25px; }
  .tile.floorboard {
    background-image: url("../../resources/images/map-tiles/floorboard.jpg");
    background-size: 25px; }
  .tile.grassland {
    background-image: url("../../resources/images/map-tiles/grassland.jpg");
    background-size: 25px; }
  .tile.pit {
    background-image: url("../../resources/images/map-tiles/pit.jpg");
    background-size: 25px; }
  .tile.sand {
    background-image: url("../../resources/images/map-tiles/sand.jpg");
    background-size: 25px; }
  .tile.snow {
    background-image: url("../../resources/images/map-tiles/snow.jpg");
    background-size: 25px; }
  .tile.water {
    background-image: url("../../resources/images/map-tiles/water.jpg");
    background-size: 25px; }
  .tile.selected {
    border-color: #3c78dc; }
  .tile.thumbnail {
    background-size: 5px; }

.token {
  position: absolute;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.1); }
  .token.monster {
    background-color: #650000; }
  .token.pc {
    background-color: #006500; }
  .token.current {
    background-color: white; }
  .token.selected {
    border-color: #3c78dc; }
  .token .initials {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px #3c3c3c; }
  .token .hp-gauge {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px; }
  .token .badge {
    background-color: white;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    top: -4px;
    right: -4px;
    text-align: center;
    font-size: 15px;
    line-height: 13px;
    text-shadow: 0 0 2px black; }
    .token .badge.altitude {
      top: -4px;
      left: -4px;
      line-height: 11px; }
