.checkbox {
  margin: 5px 0;
  border: 1px solid #c3c3c3;
  border-left-width: 5px;
  background-color: white;
  cursor: pointer;
  padding: 5px; }
  .checkbox:hover {
    border-color: #3c78dc; }
  .checkbox .image {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px; }
  .checkbox .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: calc(100% - 25px);
    font-weight: 600; }

.dropdown {
  margin: 5px 0;
  background-color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative; }
  .dropdown:hover .dropdown-top,
  .dropdown:hover .dropdown-options {
    border-color: #3c78dc; }
  .dropdown.open .dropdown-top .arrow {
    transform: rotate(0); }
  .dropdown .dropdown-top {
    padding: 5px 10px;
    font-weight: 600;
    border: 1px solid #c3c3c3;
    border-left-width: 5px; }
    .dropdown .dropdown-top .item-text {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: calc(100% - 21px);
      line-height: 20px;
      width: calc(100% - 20px);
      overflow: hidden;
      text-overflow: ellipsis; }
    .dropdown .dropdown-top .arrow {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      transform: rotate(90deg); }
  .dropdown .dropdown-options {
    background-color: white;
    border: 1px solid #c3c3c3;
    max-height: 155px;
    overflow-y: auto;
    position: absolute;
    top: 31px;
    left: 0px;
    right: 0px;
    box-shadow: 0 3px 5px 0 rgba(220, 220, 220, 0.5);
    z-index: 1; }
    .dropdown .dropdown-options .dropdown-option {
      margin: 5px;
      padding-left: 5px;
      border-left: 3px solid #3c3c3c;
      height: 25px;
      line-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .dropdown .dropdown-options .dropdown-option:hover {
        border-color: #3c78dc;
        background-color: rgba(60, 120, 220, 0.1); }
      .dropdown .dropdown-options .dropdown-option.selected {
        font-weight: 600;
        border-color: #3c78dc;
        background-color: rgba(60, 120, 220, 0.2); }

.expander {
  margin: 5px 0;
  background-color: white;
  border: 1px solid #c3c3c3;
  border-left-width: 5px; }
  .expander .expander-header {
    min-height: 32px;
    padding-left: 10px;
    padding-right: 6px;
    cursor: pointer; }
    .expander .expander-header .expander-text {
      display: inline-block;
      width: calc(100% - 40px);
      vertical-align: middle;
      padding: 8px 0;
      color: #3c3c3c;
      font-weight: 600; }
    .expander .expander-header .expander-button {
      display: inline-block;
      height: 30px;
      width: 30px;
      padding: 5px;
      margin-left: 10px;
      vertical-align: middle;
      border-radius: 50%; }
  .expander .expander-content {
    padding: 5px 10px; }
  .expander:hover {
    border-color: #3c78dc; }
  .expander.expanded > .expander-header {
    background-color: rgba(60, 120, 220, 0.1); }
    .expander.expanded > .expander-header .expander-button {
      transform: rotate(-180deg); }

.navbar {
  height: 50px;
  padding: 0 5px;
  text-align: center;
  background-color: gainsboro; }
  .navbar .navigator-item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
    height: 50px;
    line-height: 35px;
    width: calc((100% - 1px) / 5);
    font-size: 14px;
    color: #3c3c3c;
    border-top: 1px solid #c3c3c3; }
    .navbar .navigator-item.selected {
      background-color: white;
      border-top: 1px solid transparent;
      border-left: 1px solid #c3c3c3;
      border-right: 1px solid #c3c3c3;
      cursor: default; }
    .navbar .navigator-item.selected, .navbar .navigator-item:hover {
      font-weight: 600; }

.radial {
  width: 122px;
  background-color: white;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 5px 0; }
  .radial .btn,
  .radial .empty {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 40px;
    width: 40px; }
    .radial .btn img,
    .radial .empty img {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .radial .btn img:hover,
      .radial .empty img:hover {
        background-color: rgba(60, 120, 220, 0.2); }
  .radial.both .btn img {
    width: 20px;
    height: 20px; }

.selector {
  margin: 5px 0; }
  .selector .option {
    display: inline-block;
    text-align: center;
    margin: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 3px; }
    .selector .option.selected {
      cursor: default; }
  .selector.tabs {
    margin: 15px 0;
    background-color: transparent; }
    .selector.tabs .option {
      line-height: 24px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      border-bottom: 2px solid #c3c3c3; }
      .selector.tabs .option:hover {
        border-bottom-color: #3c78dc; }
      .selector.tabs .option.selected {
        background-color: rgba(60, 120, 220, 0.2);
        border-bottom-color: #3c78dc; }
  .selector.radio {
    padding: 3px;
    background-color: white;
    border: 1px solid #c3c3c3; }
  .selector.no-border {
    border: none; }
  .selector:hover {
    border-color: #3c78dc; }
  .selector .option {
    vertical-align: middle; }
    .selector .option:hover {
      background-color: rgba(60, 120, 220, 0.1); }
    .selector .option.selected {
      background-color: rgba(60, 120, 220, 0.2);
      font-weight: 600; }

.spin {
  margin: 5px 0;
  border: 1px solid #c3c3c3;
  background-color: white; }
  .spin:hover {
    border-color: #3c78dc; }
  .spin .spin-button,
  .spin .info {
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .spin .spin-button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50%; }
    .spin .spin-button:hover {
      background-color: rgba(60, 120, 220, 0.1); }
  .spin .info {
    width: calc(100% - 80px);
    margin: 2px 0; }
    .spin .info .info-label {
      font-size: 11px; }
    .spin .info .info-value {
      font-weight: 600;
      font-size: 15px; }
      .spin .info .info-value.dimmed {
        opacity: 0.25; }
  .spin .spin-expander {
    text-align: center;
    cursor: pointer;
    height: 15px;
    line-height: 12px; }
    .spin .spin-expander:hover {
      background-color: rgba(60, 120, 220, 0.1); }
  .spin .factor-selector {
    margin: 0 5px; }

.titlebar {
  height: 50px;
  padding: 10px 5px;
  background-color: gainsboro;
  border-bottom: 1px solid #c3c3c3; }
  .titlebar .app-name {
    display: inline-block;
    padding: 4px 6px 8px 6px;
    margin: 0 5px;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #3c3c3c;
    border-left: 3px solid #3c3c3c;
    cursor: pointer; }
    .titlebar .app-name:hover {
      background-color: rgba(60, 60, 60, 0.2); }
  .titlebar .actions {
    position: absolute;
    right: 50px;
    top: 4px;
    vertical-align: middle; }
    .titlebar .actions .section {
      display: inline-block;
      margin: 0 5px;
      color: #3c3c3c;
      vertical-align: top; }
      .titlebar .actions .section button,
      .titlebar .actions .section .selector {
        min-width: 130px; }
      .titlebar .actions .section .text {
        margin: 5px;
        height: 32px;
        line-height: 32px; }
  .titlebar .settings-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer; }
    .titlebar .settings-icon:hover {
      background-color: rgba(60, 120, 220, 0.2); }
