.dropdown {
    margin: 5px 0;
    background-color: white;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .dropdown .dropdown-top {
        padding: 5px 10px;
        font-weight: 600;
        border: 1px solid #C3C3C3;
        border-left-width: 5px;
    }

        .dropdown:hover .dropdown-top {
            border-color: rgb(0, 0, 0);
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.1);
        }

        .dropdown .dropdown-top .item-text {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: calc(100% - 21px);
            line-height: 20px;
            width: calc(100% - 20px);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .dropdown .dropdown-top .arrow {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
        }

    .dropdown.open .dropdown-top .arrow {
        transform: rotate(-180deg);
    }

    .dropdown .dropdown-options {
        border: 1px solid #C3C3C3;
        border-top-width: 0;
        max-height: 142px;
        overflow-y: auto;
    }

        .dropdown:hover .dropdown-options {
            border-color: rgb(0, 0, 0);
        }

        .dropdown .dropdown-options .dropdown-option {
            margin: 5px;
            padding-left: 5px;
            border-left: 3px solid #404040;
            height: 25px;
            line-height: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .dropdown .dropdown-options .dropdown-option:hover {
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.1);
            }

            .dropdown .dropdown-options .dropdown-option.selected {
                font-weight: 600;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.1);
            }