.dropdown {
    margin: 5px 0;
    background-color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

    .dropdown .dropdown-top {
        padding: 5px 10px;
        font-weight: 600;
        border: 1px solid #C3C3C3;
        border-left-width: 5px;
    }

        .dropdown:hover .dropdown-top {
            border-color: rgb(100, 150, 240);
        }

        .dropdown .dropdown-top .item-text {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: calc(100% - 21px);
            line-height: 20px;
            width: calc(100% - 20px);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .dropdown .dropdown-top .arrow {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
        }

    .dropdown.open .dropdown-top .arrow {
        transform: rotate(-180deg);
    }

    .dropdown .dropdown-options {
        background-color: white;
        border: 1px solid #C3C3C3;
        max-height: 155px;
        overflow-y: auto;
        position: absolute;
        top: 31px;
        left: 0px;
        right: 0px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

        .dropdown:hover .dropdown-options {
            border-color: rgb(100, 150, 240);
        }

        .dropdown .dropdown-options .dropdown-option {
            margin: 5px;
            padding-left: 5px;
            border-left: 3px solid #404040;
            height: 25px;
            line-height: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

            .dropdown .dropdown-options .dropdown-option:hover {
                border-color: rgb(100, 150, 240);
                background-color: rgb(100, 150, 240);
                background-color: rgba(100, 150, 240, 0.1);
            }

            .dropdown .dropdown-options .dropdown-option.selected {
                font-weight: 600;
                border-color: rgb(100, 150, 240);
                background-color: rgb(100, 150, 240);
                background-color: rgba(100, 150, 240, 0.1);
            }