.expander {
    margin: 5px 0;
    background-color: white;
    border: 1px solid rgb(100, 150, 240);
}

    .expander .expander-header {
        height: 32px;
        padding-left: 10px;
        padding-right: 6px;
        cursor: pointer;
        background-color: rgb(100, 150, 240);
    }

        .expander .expander-header .expander-text {
            display: inline-block;
            width: calc(100% - 40px);
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            color: white;
            font-weight: 600;
        }

        .expander .expander-header .expander-button {
            display: inline-block;
            height: 30px;
            width: 30px;
            padding: 5px;
            margin-left: 10px;
            vertical-align: middle;
            border-radius: 50%;
        }

    .expander.expanded .expander-header .expander-button {
        transform: rotate(-180deg);
    }

    .expander.expanded .expander-content {
        margin: 5px 10px 10px 10px;
    }