.expander {
    margin: 5px 0;
    background-color: white;
    border: 1px solid #C3C3C3;
    border-left-width: 5px;
}

    .expander:hover {
        border-color: rgb(100, 150, 240);
    }

    .expander .expander-header {
        display: block;
        height: 32px;
        padding-left: 10px;
        padding-right: 6px;
        cursor: pointer;
    }

    .expander:hover .expander-header {
        background-color: rgba(100, 150, 240, 0.1);
    }

        .expander .expander-header .expander-text {
            display: inline-block;
            width: calc(100% - 40px);
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            font-weight: 600;
        }

        .expander .expander-header .expander-button {
            display: inline-block;
            height: 30px;
            width: 30px;
            padding: 5px;
            margin-left: 10px;
            vertical-align: middle;
            border-radius: 50%;
        }

    .expander.expanded .expander-header .expander-button {
        transform: rotate(-180deg);
    }

    .expander.expanded .expander-content {
        margin: 5px 10px 10px 10px;
    }