.selector {
    margin: 5px 0;
}

    .selector .option {
        display: inline-block;
        text-align: center;
        margin: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

        .selector .option.selected {
            cursor: default;
        }

    .selector.tabs {
        height: 40px;
    }

        .selector.tabs .option {
            height: 33px;
            line-height: 25px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-bottom: 2px solid rgb(128, 128, 128);
            border-bottom: 2px solid rgba(128, 128, 128, 0.5);
        }

            .selector.tabs .option:hover {
                border-bottom: 2px solid rgb(0, 0, 0);
            }

            .selector.tabs .option.selected {
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.1);
                border-bottom: 2px solid rgb(0, 0, 0);
                cursor: default;
            }

    .selector.radio {
        padding: 2px;
        border: 1px solid #C3C3C3;
    }

        .selector.radio.no-border {
            border: none;
        }

        .selector.radio:hover {
            border-color: rgb(0, 0, 0);
        }

        .selector.radio .option {
            vertical-align: middle;
            padding: 3px;
        }

            .selector.radio .option:hover {
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.1);
            }

            .selector.radio .option.selected {
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.2);
                font-weight: 600;
                cursor: default;
            }