.selector {
    margin: 5px 0;
    background-color: white;
}

    .selector .option {
        display: inline-block;
        text-align: center;
        margin: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 3px;
    }

        .selector .option.selected {
            cursor: default;
        }

    .selector.tabs {
        margin-top: 0;
    }

        .selector.tabs .option {
            line-height: 24px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            border-bottom: 2px solid rgb(0, 0, 0);
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        }

            .selector.tabs .option:hover {
                border-bottom: 2px solid rgb(100, 150, 240);
            }

            .selector.tabs .option.selected {
                background-color: rgb(100, 150, 240);
                background-color: rgba(100, 150, 240, 0.1);
                border-bottom: 2px solid rgb(100, 150, 240);
                cursor: default;
            }

    .selector.radio {
        padding: 2px;
        border: 1px solid #C3C3C3;
    }

        .selector.radio.no-border {
            border: none;
        }

        .selector.radio:hover {
            border-color: rgb(100, 150, 240);
        }

        .selector.radio .option {
            vertical-align: middle;
        }

            .selector.radio .option:hover {
                background-color: rgb(100, 150, 240);
                background-color: rgba(100, 150, 240, 0.1);
            }

            .selector.radio .option.selected {
                background-color: rgb(100, 150, 240);
                background-color: rgba(100, 150, 240, 0.2);
                font-weight: 600;
                cursor: default;
            }