.spin {
    margin: 5px 0;
    border: 1px solid #C3C3C3;
    background-color: white;
}

    .spin:hover {
        border-color: rgb(100, 150, 240);
    }

    .spin .spin-button,
    .spin .info {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .spin .spin-button {
        height: 20px;
        width: 20px;
        cursor: pointer;
        background-color: transparent;
        padding: 5px;
        margin: 0 5px;
        border-radius: 50%;
    }

        .spin .spin-button:hover {
            background-color: rgb(100, 150, 240);
            background-color: rgba(100, 150, 240, 0.2);
        }

    .spin .info {
        width: calc(100% - 80px);
        margin: 2px 0;
    }

        .spin .info .info-label {
            font-size: 11px;
        }

        .spin .info .info-value {
            font-weight: 600;
            font-size: 15px;
        }

            .spin .info .info-value.dimmed {
                opacity: 0.25;
            }

    .spin .spin-expander {
        text-align: center;
        cursor: pointer;
        height: 10px;
        line-height: 8px;
    }

        .spin .spin-expander:hover {
            background-color: rgb(100, 150, 240, 0.1);
        }

    .spin .factor-selector {
        margin: 0 5px;
    }