@import 'theme.scss';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Checkbox

.checkbox {
    margin: 5px 0;
    border: 1px solid $control-border;
    border-left-width: 5px;
    background-color: $background;
    cursor: pointer;
    padding: 5px;

    &:hover {
        border-color: $highlight;
    }

    .image {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
    }

    .checkbox-label {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        width: calc(100% - 25px);
        font-weight: 600;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dropdown

.dropdown {
    margin: 5px 0;
    background-color: $background;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;

        &:hover {
            .dropdown-top,
            .dropdown-options {
                border-color: $highlight;
            }
        }

        &.open .dropdown-top .arrow {
            transform: rotate(0);
        }

    .dropdown-top {
        padding: 5px 10px;
        font-weight: 600;
        border: 1px solid $control-border;
        border-left-width: 5px;

        .item-text {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: calc(100% - 21px);
            line-height: 20px;
            width: calc(100% - 20px);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .arrow {
            display: inline-block;
            vertical-align: middle;
            height: 20px;
            width: 20px;
            transform: rotate(90deg);
        }
    }

    .dropdown-options {
        background-color: $background;
        border: 1px solid $control-border;
        max-height: 155px;
        overflow-y: auto;
        position: absolute;
        top: 31px;
        left: 0px;
        right: 0px;
        box-shadow: 0 3px 5px 0 $header-background-05;
        z-index: 1;

        .dropdown-option {
            margin: 5px;
            padding-left: 5px;
            border-left: 3px solid $foreground;
            height: 25px;
            line-height: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                border-color: $highlight;
                background-color: $highlight01;
            }

            &.selected {
                font-weight: 600;
                border-color: $highlight;
                background-color: $highlight02;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Expander

.expander {
    margin: 5px 0;
    background-color: $background;
    border: 1px solid $control-border;
    border-left-width: 5px;

    .expander-header {
        min-height: 32px;
        padding-left: 10px;
        padding-right: 6px;
        cursor: pointer;

        .expander-text {
            display: inline-block;
            width: calc(100% - 40px);
            vertical-align: middle;
            padding: 8px 0;
            color: $foreground;
            font-weight: 600;
        }

        .expander-button {
            display: inline-block;
            height: 30px;
            width: 30px;
            padding: 5px;
            margin-left: 10px;
            vertical-align: middle;
            border-radius: 50%;
        }
    }

    .expander-content {
        padding: 5px 10px;
    }

    &:hover {
        border-color: $highlight;
    }

    &.expanded {

        &>.expander-header {
            background-color: $highlight01;

            .expander-button {
                transform: rotate(-180deg);
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Radial

.radial {
    width: 122px;
    background-color: $background;
    border: 1px solid $control-border;
    border-radius: 50%;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 5px 0;

    .btn,
    .empty {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 40px;
        width: 40px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &:hover {
                background-color: $highlight02;
            }
        }
    }

    .btn.diag img {
        padding: 7px;
    }

    &.both {
        .btn {

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Radio group

.radio-group {
    .radio-item {
        margin: 5px 0;
        background-color: $background;
        border: 1px solid $control-border;
        border-left-width: 5px;
        cursor: pointer;

        &:hover {
            border-color: $highlight;
        }

        &.selected {
            border-color: $highlight;
            background-color: $highlight01;
            cursor: default;
        }

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        .radio-item-text {
            padding: 8px 6px 8px 10px;
            color: #3c3c3c;
            font-weight: 600;
        }

        .radio-item-details {
            padding: 0 6px 8px 10px;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Selector

.selector {
    margin: 5px 0;

    .option {
        display: inline-block;
        text-align: center;
        margin: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 3px;

        &.selected {
            cursor: default;
        }
    }

    &.tabs {
        margin: 15px 0;
        background-color: transparent;

        .option {
            line-height: 24px;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            border-bottom: 2px solid $control-border;

            &:hover {
                border-bottom-color: $highlight;
            }

            &.selected {
                background-color: $highlight02;
                border-bottom-color: $highlight;
            }
        }
    }

    &.radio {
        padding: 3px;
        background-color: $background;
        border: 1px solid $control-border;
    }

        &:hover {
            border-color: $highlight;
        }

        .option {
            vertical-align: middle;

            &:hover {
                background-color: $highlight01;
            }

            &.selected {
                background-color: $highlight02;
                font-weight: 600;
            }
        }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Spin

.spin {
    margin: 5px 0;
    border: 1px solid $control-border;
    background-color: $background;

    &:hover {
        border-color: $highlight;
    }

    .minus,
    .plus,
    .spin-button,
    .info {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .spin-button {
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-color: transparent;
        padding: 5px;
        margin: 0 5px;
        border-radius: 50%;

        &.factor {
            border: 2px solid $control-border;
            margin: 5px;
            font-size: 10px;
            line-height: 16px;
            text-align: center;
        }

        &:hover {
            background-color: $highlight01;
            border-color: $highlight02;
        }
    }

    .info {
        margin: 2px 0;

        .info-label {
            font-size: 11px;
        }

        .info-value {
            font-weight: 600;
            font-size: 15px;

            &.dimmed {
                opacity: 0.25;
            }
        }
    }

    .spin-expander {
        text-align: center;
        cursor: pointer;
        height: 15px;
        line-height: 12px;

        &:hover {
            background-color: $highlight01;
        }
    }

    .factor-selector {
        margin: 0 5px;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
