$background: rgb(255, 255, 255);
$header-background: rgb(220, 220, 220);
$header-background-02: rgba(220, 220, 220, 0.2);
$header-background-05: rgba(220, 220, 220, 0.5);

$foreground: rgb(60, 60, 60);
$header-foreground: rgb(60, 60, 60);
$header-foreground-03: rgba(60, 60, 60, 0.2);

$highlight: rgb(60, 120, 220);
$highlight01: rgba(60, 120, 220, 0.1);
$highlight02: rgba(60, 120, 220, 0.2);
$highlight05: rgba(60, 120, 220, 0.5);

$control-border: rgb(195, 195, 195);
$control: rgb(240, 240, 240);
